header {
    h1 {
        color: #000000;
    }

    h2 {
        color: orange;
    }

    #photo_groupe {
        width: 45%;
        height: 300px;
    }

    nav {
        @include flex-center-row;
    }
}
