header {
    @include flex-center-column;
    align-items: center;
    background: linear-gradient(red, orange, yellow);
    h1 {
        color: #000000;
        font-family: sacramento, Arial, Helvetica, sans-serif;
        font-size: 70px;
        text-align: center;
    }

    h2 {
        color: #000000;
        font-size: 30px;
        font-family: Alex+Brush, Verdana, Geneva, Tahoma, sans-serif;
        text-align: center;
    }

    #photo_groupe {
        width: 40%;
        height: 400px;
        margin: 15px 0px;
    }

    nav {
       width: 90%;
       margin-bottom: 30px;
        #menu{
            list-style-type: none;
            @include flex-space-around-row;
            li {
                font-size: 20px;
                font-weight: bold;
            }
            a {
                color: black;
                text-decoration: none;
                &:hover {
                    cursor: pointer;
                    color: red;
                    text-decoration: dashed 3px yellow;
                }
            }
           
        }
    }
}
