@import url("https://fonts.googleapis.com/css2?family=Comforter+Brush&family=Raleway:wght@300&display=swap");
@import url("https://necolas.github.io/normalize.css/8.0.1/normalize.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 12px;
  color: #000000;
  background: linear-gradient(yellow, orange, red);
}

.container {
  width: 100%;
  margin: auto;
}
@media screen and (min-width: 1000px) {
  .container {
    width: 1394px;
  }
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(red, orange, yellow);
}
header h1 {
  color: #000000;
  font-size: 30px;
}
header h2 {
  color: #000000;
  font-size: 20px;
}
header #photo_groupe {
  width: 40%;
  height: 400px;
  margin: 15px 0px;
}
header nav {
  width: 90%;
}
header nav #menu {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
header nav #menu li {
  margin-right: 10px;
  font-size: 20px;
  font-weight: bold;
}
header nav #menu a {
  color: black;
  text-decoration: none;
}
header nav #menu a:hover {
  cursor: pointer;
  color: red;
  text-decoration: dashed 3px yellow;
}

footer {
  background-color: #161616;
  color: #f6f6f6;
}
footer .container {
  width: 100%;
}

#photos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 40px;
}
#photos #photo_ray,
#photos #photo_debra,
#photos #photo_marie,
#photos #photo_frank,
#photos #photo_robert,
#photos #photo_amy {
  display: flex;
  flex-direction: column;
  width: 15%;
  height: 350px;
  border: solid 3px #ec8c0f;
}
#photos #photo_ray .ray,
#photos #photo_ray .debra,
#photos #photo_ray .marie,
#photos #photo_ray .frank,
#photos #photo_ray .robert,
#photos #photo_ray .amy,
#photos #photo_debra .ray,
#photos #photo_debra .debra,
#photos #photo_debra .marie,
#photos #photo_debra .frank,
#photos #photo_debra .robert,
#photos #photo_debra .amy,
#photos #photo_marie .ray,
#photos #photo_marie .debra,
#photos #photo_marie .marie,
#photos #photo_marie .frank,
#photos #photo_marie .robert,
#photos #photo_marie .amy,
#photos #photo_frank .ray,
#photos #photo_frank .debra,
#photos #photo_frank .marie,
#photos #photo_frank .frank,
#photos #photo_frank .robert,
#photos #photo_frank .amy,
#photos #photo_robert .ray,
#photos #photo_robert .debra,
#photos #photo_robert .marie,
#photos #photo_robert .frank,
#photos #photo_robert .robert,
#photos #photo_robert .amy,
#photos #photo_amy .ray,
#photos #photo_amy .debra,
#photos #photo_amy .marie,
#photos #photo_amy .frank,
#photos #photo_amy .robert,
#photos #photo_amy .amy {
  width: 100%;
  height: 300px;
}

#histoire h3 {
  color: #ec0f0f;
  font-size: 25px;
  font-weight: 700;
  margin-top: 30px;
}

#personnages {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#personnages h3 {
  font-size: 25px;
  color: #ec0f0f;
}
#personnages #personnage_ray,
#personnages #personnage_debra,
#personnages #personnage_marie,
#personnages #personnage_frank,
#personnages #personnage_robert,
#personnages #personnage_amy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 4px 8px #e6e6e6;
  width: 300px;
  margin: auto;
  text-align: center;
}
#personnages #personnage_ray h4,
#personnages #personnage_debra h4,
#personnages #personnage_marie h4,
#personnages #personnage_frank h4,
#personnages #personnage_robert h4,
#personnages #personnage_amy h4 {
  color: turquoise;
  font-size: 20px;
}

#acteurs h3 {
  color: orangered;
  font-size: 15px;
  margin-top: 30px;
}
#acteurs .acteurs {
  display: flex;
  flex-direction: column;
  margin: 15px;
}
#acteurs .acteurs .acteur-ray,
#acteurs .acteurs .acteur_marie,
#acteurs .acteurs .acteur_robert {
  display: flex;
  flex-direction: row;
}
#acteurs .acteurs .acteur-ray .acteur_photo,
#acteurs .acteurs .acteur_marie .acteur_photo,
#acteurs .acteurs .acteur_robert .acteur_photo {
  width: 30%;
  height: 300px;
}
#acteurs .acteurs .acteur_debra,
#acteurs .acteurs .acteur_frank,
#acteurs .acteurs .acteur_amy {
  display: flex;
  flex-direction: row-reverse;
}

#personnages_secondaires {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#personnages_secondaires h3 {
  font-size: 18px;
  color: #ec0f0f;
  font-weight: bold;
  text-align: center;
}
#personnages_secondaires #famille_debra,
#personnages_secondaires #famille_amy {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#personnages_secondaires #famille_debra .famille,
#personnages_secondaires #famille_amy .famille {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#personnages_secondaires #famille_debra .famille #debra_mere,
#personnages_secondaires #famille_debra .famille #debra_pere,
#personnages_secondaires #famille_debra .famille #amy_mere,
#personnages_secondaires #famille_debra .famille #amy_pere,
#personnages_secondaires #famille_debra .famille #amy_frere,
#personnages_secondaires #famille_amy .famille #debra_mere,
#personnages_secondaires #famille_amy .famille #debra_pere,
#personnages_secondaires #famille_amy .famille #amy_mere,
#personnages_secondaires #famille_amy .famille #amy_pere,
#personnages_secondaires #famille_amy .famille #amy_frere {
  background-color: transparent;
  width: 300px;
  height: 200px;
  border: 1px solid #ec8c0f;
  perspective: 1000px;
}
#personnages_secondaires #famille_debra .famille #debra_mere #presentation_lois,
#personnages_secondaires #famille_debra .famille #debra_mere #presentation_warren,
#personnages_secondaires #famille_debra .famille #debra_mere #presentation_pat,
#personnages_secondaires #famille_debra .famille #debra_mere #presentation_hank,
#personnages_secondaires #famille_debra .famille #debra_mere #presentation_peter,
#personnages_secondaires #famille_debra .famille #debra_pere #presentation_lois,
#personnages_secondaires #famille_debra .famille #debra_pere #presentation_warren,
#personnages_secondaires #famille_debra .famille #debra_pere #presentation_pat,
#personnages_secondaires #famille_debra .famille #debra_pere #presentation_hank,
#personnages_secondaires #famille_debra .famille #debra_pere #presentation_peter,
#personnages_secondaires #famille_debra .famille #amy_mere #presentation_lois,
#personnages_secondaires #famille_debra .famille #amy_mere #presentation_warren,
#personnages_secondaires #famille_debra .famille #amy_mere #presentation_pat,
#personnages_secondaires #famille_debra .famille #amy_mere #presentation_hank,
#personnages_secondaires #famille_debra .famille #amy_mere #presentation_peter,
#personnages_secondaires #famille_debra .famille #amy_pere #presentation_lois,
#personnages_secondaires #famille_debra .famille #amy_pere #presentation_warren,
#personnages_secondaires #famille_debra .famille #amy_pere #presentation_pat,
#personnages_secondaires #famille_debra .famille #amy_pere #presentation_hank,
#personnages_secondaires #famille_debra .famille #amy_pere #presentation_peter,
#personnages_secondaires #famille_debra .famille #amy_frere #presentation_lois,
#personnages_secondaires #famille_debra .famille #amy_frere #presentation_warren,
#personnages_secondaires #famille_debra .famille #amy_frere #presentation_pat,
#personnages_secondaires #famille_debra .famille #amy_frere #presentation_hank,
#personnages_secondaires #famille_debra .famille #amy_frere #presentation_peter,
#personnages_secondaires #famille_amy .famille #debra_mere #presentation_lois,
#personnages_secondaires #famille_amy .famille #debra_mere #presentation_warren,
#personnages_secondaires #famille_amy .famille #debra_mere #presentation_pat,
#personnages_secondaires #famille_amy .famille #debra_mere #presentation_hank,
#personnages_secondaires #famille_amy .famille #debra_mere #presentation_peter,
#personnages_secondaires #famille_amy .famille #debra_pere #presentation_lois,
#personnages_secondaires #famille_amy .famille #debra_pere #presentation_warren,
#personnages_secondaires #famille_amy .famille #debra_pere #presentation_pat,
#personnages_secondaires #famille_amy .famille #debra_pere #presentation_hank,
#personnages_secondaires #famille_amy .famille #debra_pere #presentation_peter,
#personnages_secondaires #famille_amy .famille #amy_mere #presentation_lois,
#personnages_secondaires #famille_amy .famille #amy_mere #presentation_warren,
#personnages_secondaires #famille_amy .famille #amy_mere #presentation_pat,
#personnages_secondaires #famille_amy .famille #amy_mere #presentation_hank,
#personnages_secondaires #famille_amy .famille #amy_mere #presentation_peter,
#personnages_secondaires #famille_amy .famille #amy_pere #presentation_lois,
#personnages_secondaires #famille_amy .famille #amy_pere #presentation_warren,
#personnages_secondaires #famille_amy .famille #amy_pere #presentation_pat,
#personnages_secondaires #famille_amy .famille #amy_pere #presentation_hank,
#personnages_secondaires #famille_amy .famille #amy_pere #presentation_peter,
#personnages_secondaires #famille_amy .famille #amy_frere #presentation_lois,
#personnages_secondaires #famille_amy .famille #amy_frere #presentation_warren,
#personnages_secondaires #famille_amy .famille #amy_frere #presentation_pat,
#personnages_secondaires #famille_amy .famille #amy_frere #presentation_hank,
#personnages_secondaires #famille_amy .famille #amy_frere #presentation_peter {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
#personnages_secondaires #famille_debra .famille #debra_mere #presentation_lois #debra_mere:hover #presentation_lois,
#personnages_secondaires #famille_debra .famille #debra_mere #presentation_lois #debra_pere:hover #presentation_warren,
#personnages_secondaires #famille_debra .famille #debra_mere #presentation_lois #amy_mere:hover #presentation_pat,
#personnages_secondaires #famille_debra .famille #debra_mere #presentation_lois #amy_pere:hover #presentation_hank,
#personnages_secondaires #famille_debra .famille #debra_mere #presentation_lois #amy_frere:hover #presentation_peter,
#personnages_secondaires #famille_debra .famille #debra_mere #presentation_warren #debra_mere:hover #presentation_lois,
#personnages_secondaires #famille_debra .famille #debra_mere #presentation_warren #debra_pere:hover #presentation_warren,
#personnages_secondaires #famille_debra .famille #debra_mere #presentation_warren #amy_mere:hover #presentation_pat,
#personnages_secondaires #famille_debra .famille #debra_mere #presentation_warren #amy_pere:hover #presentation_hank,
#personnages_secondaires #famille_debra .famille #debra_mere #presentation_warren #amy_frere:hover #presentation_peter,
#personnages_secondaires #famille_debra .famille #debra_mere #presentation_pat #debra_mere:hover #presentation_lois,
#personnages_secondaires #famille_debra .famille #debra_mere #presentation_pat #debra_pere:hover #presentation_warren,
#personnages_secondaires #famille_debra .famille #debra_mere #presentation_pat #amy_mere:hover #presentation_pat,
#personnages_secondaires #famille_debra .famille #debra_mere #presentation_pat #amy_pere:hover #presentation_hank,
#personnages_secondaires #famille_debra .famille #debra_mere #presentation_pat #amy_frere:hover #presentation_peter,
#personnages_secondaires #famille_debra .famille #debra_mere #presentation_hank #debra_mere:hover #presentation_lois,
#personnages_secondaires #famille_debra .famille #debra_mere #presentation_hank #debra_pere:hover #presentation_warren,
#personnages_secondaires #famille_debra .famille #debra_mere #presentation_hank #amy_mere:hover #presentation_pat,
#personnages_secondaires #famille_debra .famille #debra_mere #presentation_hank #amy_pere:hover #presentation_hank,
#personnages_secondaires #famille_debra .famille #debra_mere #presentation_hank #amy_frere:hover #presentation_peter,
#personnages_secondaires #famille_debra .famille #debra_mere #presentation_peter #debra_mere:hover #presentation_lois,
#personnages_secondaires #famille_debra .famille #debra_mere #presentation_peter #debra_pere:hover #presentation_warren,
#personnages_secondaires #famille_debra .famille #debra_mere #presentation_peter #amy_mere:hover #presentation_pat,
#personnages_secondaires #famille_debra .famille #debra_mere #presentation_peter #amy_pere:hover #presentation_hank,
#personnages_secondaires #famille_debra .famille #debra_mere #presentation_peter #amy_frere:hover #presentation_peter,
#personnages_secondaires #famille_debra .famille #debra_pere #presentation_lois #debra_mere:hover #presentation_lois,
#personnages_secondaires #famille_debra .famille #debra_pere #presentation_lois #debra_pere:hover #presentation_warren,
#personnages_secondaires #famille_debra .famille #debra_pere #presentation_lois #amy_mere:hover #presentation_pat,
#personnages_secondaires #famille_debra .famille #debra_pere #presentation_lois #amy_pere:hover #presentation_hank,
#personnages_secondaires #famille_debra .famille #debra_pere #presentation_lois #amy_frere:hover #presentation_peter,
#personnages_secondaires #famille_debra .famille #debra_pere #presentation_warren #debra_mere:hover #presentation_lois,
#personnages_secondaires #famille_debra .famille #debra_pere #presentation_warren #debra_pere:hover #presentation_warren,
#personnages_secondaires #famille_debra .famille #debra_pere #presentation_warren #amy_mere:hover #presentation_pat,
#personnages_secondaires #famille_debra .famille #debra_pere #presentation_warren #amy_pere:hover #presentation_hank,
#personnages_secondaires #famille_debra .famille #debra_pere #presentation_warren #amy_frere:hover #presentation_peter,
#personnages_secondaires #famille_debra .famille #debra_pere #presentation_pat #debra_mere:hover #presentation_lois,
#personnages_secondaires #famille_debra .famille #debra_pere #presentation_pat #debra_pere:hover #presentation_warren,
#personnages_secondaires #famille_debra .famille #debra_pere #presentation_pat #amy_mere:hover #presentation_pat,
#personnages_secondaires #famille_debra .famille #debra_pere #presentation_pat #amy_pere:hover #presentation_hank,
#personnages_secondaires #famille_debra .famille #debra_pere #presentation_pat #amy_frere:hover #presentation_peter,
#personnages_secondaires #famille_debra .famille #debra_pere #presentation_hank #debra_mere:hover #presentation_lois,
#personnages_secondaires #famille_debra .famille #debra_pere #presentation_hank #debra_pere:hover #presentation_warren,
#personnages_secondaires #famille_debra .famille #debra_pere #presentation_hank #amy_mere:hover #presentation_pat,
#personnages_secondaires #famille_debra .famille #debra_pere #presentation_hank #amy_pere:hover #presentation_hank,
#personnages_secondaires #famille_debra .famille #debra_pere #presentation_hank #amy_frere:hover #presentation_peter,
#personnages_secondaires #famille_debra .famille #debra_pere #presentation_peter #debra_mere:hover #presentation_lois,
#personnages_secondaires #famille_debra .famille #debra_pere #presentation_peter #debra_pere:hover #presentation_warren,
#personnages_secondaires #famille_debra .famille #debra_pere #presentation_peter #amy_mere:hover #presentation_pat,
#personnages_secondaires #famille_debra .famille #debra_pere #presentation_peter #amy_pere:hover #presentation_hank,
#personnages_secondaires #famille_debra .famille #debra_pere #presentation_peter #amy_frere:hover #presentation_peter,
#personnages_secondaires #famille_debra .famille #amy_mere #presentation_lois #debra_mere:hover #presentation_lois,
#personnages_secondaires #famille_debra .famille #amy_mere #presentation_lois #debra_pere:hover #presentation_warren,
#personnages_secondaires #famille_debra .famille #amy_mere #presentation_lois #amy_mere:hover #presentation_pat,
#personnages_secondaires #famille_debra .famille #amy_mere #presentation_lois #amy_pere:hover #presentation_hank,
#personnages_secondaires #famille_debra .famille #amy_mere #presentation_lois #amy_frere:hover #presentation_peter,
#personnages_secondaires #famille_debra .famille #amy_mere #presentation_warren #debra_mere:hover #presentation_lois,
#personnages_secondaires #famille_debra .famille #amy_mere #presentation_warren #debra_pere:hover #presentation_warren,
#personnages_secondaires #famille_debra .famille #amy_mere #presentation_warren #amy_mere:hover #presentation_pat,
#personnages_secondaires #famille_debra .famille #amy_mere #presentation_warren #amy_pere:hover #presentation_hank,
#personnages_secondaires #famille_debra .famille #amy_mere #presentation_warren #amy_frere:hover #presentation_peter,
#personnages_secondaires #famille_debra .famille #amy_mere #presentation_pat #debra_mere:hover #presentation_lois,
#personnages_secondaires #famille_debra .famille #amy_mere #presentation_pat #debra_pere:hover #presentation_warren,
#personnages_secondaires #famille_debra .famille #amy_mere #presentation_pat #amy_mere:hover #presentation_pat,
#personnages_secondaires #famille_debra .famille #amy_mere #presentation_pat #amy_pere:hover #presentation_hank,
#personnages_secondaires #famille_debra .famille #amy_mere #presentation_pat #amy_frere:hover #presentation_peter,
#personnages_secondaires #famille_debra .famille #amy_mere #presentation_hank #debra_mere:hover #presentation_lois,
#personnages_secondaires #famille_debra .famille #amy_mere #presentation_hank #debra_pere:hover #presentation_warren,
#personnages_secondaires #famille_debra .famille #amy_mere #presentation_hank #amy_mere:hover #presentation_pat,
#personnages_secondaires #famille_debra .famille #amy_mere #presentation_hank #amy_pere:hover #presentation_hank,
#personnages_secondaires #famille_debra .famille #amy_mere #presentation_hank #amy_frere:hover #presentation_peter,
#personnages_secondaires #famille_debra .famille #amy_mere #presentation_peter #debra_mere:hover #presentation_lois,
#personnages_secondaires #famille_debra .famille #amy_mere #presentation_peter #debra_pere:hover #presentation_warren,
#personnages_secondaires #famille_debra .famille #amy_mere #presentation_peter #amy_mere:hover #presentation_pat,
#personnages_secondaires #famille_debra .famille #amy_mere #presentation_peter #amy_pere:hover #presentation_hank,
#personnages_secondaires #famille_debra .famille #amy_mere #presentation_peter #amy_frere:hover #presentation_peter,
#personnages_secondaires #famille_debra .famille #amy_pere #presentation_lois #debra_mere:hover #presentation_lois,
#personnages_secondaires #famille_debra .famille #amy_pere #presentation_lois #debra_pere:hover #presentation_warren,
#personnages_secondaires #famille_debra .famille #amy_pere #presentation_lois #amy_mere:hover #presentation_pat,
#personnages_secondaires #famille_debra .famille #amy_pere #presentation_lois #amy_pere:hover #presentation_hank,
#personnages_secondaires #famille_debra .famille #amy_pere #presentation_lois #amy_frere:hover #presentation_peter,
#personnages_secondaires #famille_debra .famille #amy_pere #presentation_warren #debra_mere:hover #presentation_lois,
#personnages_secondaires #famille_debra .famille #amy_pere #presentation_warren #debra_pere:hover #presentation_warren,
#personnages_secondaires #famille_debra .famille #amy_pere #presentation_warren #amy_mere:hover #presentation_pat,
#personnages_secondaires #famille_debra .famille #amy_pere #presentation_warren #amy_pere:hover #presentation_hank,
#personnages_secondaires #famille_debra .famille #amy_pere #presentation_warren #amy_frere:hover #presentation_peter,
#personnages_secondaires #famille_debra .famille #amy_pere #presentation_pat #debra_mere:hover #presentation_lois,
#personnages_secondaires #famille_debra .famille #amy_pere #presentation_pat #debra_pere:hover #presentation_warren,
#personnages_secondaires #famille_debra .famille #amy_pere #presentation_pat #amy_mere:hover #presentation_pat,
#personnages_secondaires #famille_debra .famille #amy_pere #presentation_pat #amy_pere:hover #presentation_hank,
#personnages_secondaires #famille_debra .famille #amy_pere #presentation_pat #amy_frere:hover #presentation_peter,
#personnages_secondaires #famille_debra .famille #amy_pere #presentation_hank #debra_mere:hover #presentation_lois,
#personnages_secondaires #famille_debra .famille #amy_pere #presentation_hank #debra_pere:hover #presentation_warren,
#personnages_secondaires #famille_debra .famille #amy_pere #presentation_hank #amy_mere:hover #presentation_pat,
#personnages_secondaires #famille_debra .famille #amy_pere #presentation_hank #amy_pere:hover #presentation_hank,
#personnages_secondaires #famille_debra .famille #amy_pere #presentation_hank #amy_frere:hover #presentation_peter,
#personnages_secondaires #famille_debra .famille #amy_pere #presentation_peter #debra_mere:hover #presentation_lois,
#personnages_secondaires #famille_debra .famille #amy_pere #presentation_peter #debra_pere:hover #presentation_warren,
#personnages_secondaires #famille_debra .famille #amy_pere #presentation_peter #amy_mere:hover #presentation_pat,
#personnages_secondaires #famille_debra .famille #amy_pere #presentation_peter #amy_pere:hover #presentation_hank,
#personnages_secondaires #famille_debra .famille #amy_pere #presentation_peter #amy_frere:hover #presentation_peter,
#personnages_secondaires #famille_debra .famille #amy_frere #presentation_lois #debra_mere:hover #presentation_lois,
#personnages_secondaires #famille_debra .famille #amy_frere #presentation_lois #debra_pere:hover #presentation_warren,
#personnages_secondaires #famille_debra .famille #amy_frere #presentation_lois #amy_mere:hover #presentation_pat,
#personnages_secondaires #famille_debra .famille #amy_frere #presentation_lois #amy_pere:hover #presentation_hank,
#personnages_secondaires #famille_debra .famille #amy_frere #presentation_lois #amy_frere:hover #presentation_peter,
#personnages_secondaires #famille_debra .famille #amy_frere #presentation_warren #debra_mere:hover #presentation_lois,
#personnages_secondaires #famille_debra .famille #amy_frere #presentation_warren #debra_pere:hover #presentation_warren,
#personnages_secondaires #famille_debra .famille #amy_frere #presentation_warren #amy_mere:hover #presentation_pat,
#personnages_secondaires #famille_debra .famille #amy_frere #presentation_warren #amy_pere:hover #presentation_hank,
#personnages_secondaires #famille_debra .famille #amy_frere #presentation_warren #amy_frere:hover #presentation_peter,
#personnages_secondaires #famille_debra .famille #amy_frere #presentation_pat #debra_mere:hover #presentation_lois,
#personnages_secondaires #famille_debra .famille #amy_frere #presentation_pat #debra_pere:hover #presentation_warren,
#personnages_secondaires #famille_debra .famille #amy_frere #presentation_pat #amy_mere:hover #presentation_pat,
#personnages_secondaires #famille_debra .famille #amy_frere #presentation_pat #amy_pere:hover #presentation_hank,
#personnages_secondaires #famille_debra .famille #amy_frere #presentation_pat #amy_frere:hover #presentation_peter,
#personnages_secondaires #famille_debra .famille #amy_frere #presentation_hank #debra_mere:hover #presentation_lois,
#personnages_secondaires #famille_debra .famille #amy_frere #presentation_hank #debra_pere:hover #presentation_warren,
#personnages_secondaires #famille_debra .famille #amy_frere #presentation_hank #amy_mere:hover #presentation_pat,
#personnages_secondaires #famille_debra .famille #amy_frere #presentation_hank #amy_pere:hover #presentation_hank,
#personnages_secondaires #famille_debra .famille #amy_frere #presentation_hank #amy_frere:hover #presentation_peter,
#personnages_secondaires #famille_debra .famille #amy_frere #presentation_peter #debra_mere:hover #presentation_lois,
#personnages_secondaires #famille_debra .famille #amy_frere #presentation_peter #debra_pere:hover #presentation_warren,
#personnages_secondaires #famille_debra .famille #amy_frere #presentation_peter #amy_mere:hover #presentation_pat,
#personnages_secondaires #famille_debra .famille #amy_frere #presentation_peter #amy_pere:hover #presentation_hank,
#personnages_secondaires #famille_debra .famille #amy_frere #presentation_peter #amy_frere:hover #presentation_peter,
#personnages_secondaires #famille_amy .famille #debra_mere #presentation_lois #debra_mere:hover #presentation_lois,
#personnages_secondaires #famille_amy .famille #debra_mere #presentation_lois #debra_pere:hover #presentation_warren,
#personnages_secondaires #famille_amy .famille #debra_mere #presentation_lois #amy_mere:hover #presentation_pat,
#personnages_secondaires #famille_amy .famille #debra_mere #presentation_lois #amy_pere:hover #presentation_hank,
#personnages_secondaires #famille_amy .famille #debra_mere #presentation_lois #amy_frere:hover #presentation_peter,
#personnages_secondaires #famille_amy .famille #debra_mere #presentation_warren #debra_mere:hover #presentation_lois,
#personnages_secondaires #famille_amy .famille #debra_mere #presentation_warren #debra_pere:hover #presentation_warren,
#personnages_secondaires #famille_amy .famille #debra_mere #presentation_warren #amy_mere:hover #presentation_pat,
#personnages_secondaires #famille_amy .famille #debra_mere #presentation_warren #amy_pere:hover #presentation_hank,
#personnages_secondaires #famille_amy .famille #debra_mere #presentation_warren #amy_frere:hover #presentation_peter,
#personnages_secondaires #famille_amy .famille #debra_mere #presentation_pat #debra_mere:hover #presentation_lois,
#personnages_secondaires #famille_amy .famille #debra_mere #presentation_pat #debra_pere:hover #presentation_warren,
#personnages_secondaires #famille_amy .famille #debra_mere #presentation_pat #amy_mere:hover #presentation_pat,
#personnages_secondaires #famille_amy .famille #debra_mere #presentation_pat #amy_pere:hover #presentation_hank,
#personnages_secondaires #famille_amy .famille #debra_mere #presentation_pat #amy_frere:hover #presentation_peter,
#personnages_secondaires #famille_amy .famille #debra_mere #presentation_hank #debra_mere:hover #presentation_lois,
#personnages_secondaires #famille_amy .famille #debra_mere #presentation_hank #debra_pere:hover #presentation_warren,
#personnages_secondaires #famille_amy .famille #debra_mere #presentation_hank #amy_mere:hover #presentation_pat,
#personnages_secondaires #famille_amy .famille #debra_mere #presentation_hank #amy_pere:hover #presentation_hank,
#personnages_secondaires #famille_amy .famille #debra_mere #presentation_hank #amy_frere:hover #presentation_peter,
#personnages_secondaires #famille_amy .famille #debra_mere #presentation_peter #debra_mere:hover #presentation_lois,
#personnages_secondaires #famille_amy .famille #debra_mere #presentation_peter #debra_pere:hover #presentation_warren,
#personnages_secondaires #famille_amy .famille #debra_mere #presentation_peter #amy_mere:hover #presentation_pat,
#personnages_secondaires #famille_amy .famille #debra_mere #presentation_peter #amy_pere:hover #presentation_hank,
#personnages_secondaires #famille_amy .famille #debra_mere #presentation_peter #amy_frere:hover #presentation_peter,
#personnages_secondaires #famille_amy .famille #debra_pere #presentation_lois #debra_mere:hover #presentation_lois,
#personnages_secondaires #famille_amy .famille #debra_pere #presentation_lois #debra_pere:hover #presentation_warren,
#personnages_secondaires #famille_amy .famille #debra_pere #presentation_lois #amy_mere:hover #presentation_pat,
#personnages_secondaires #famille_amy .famille #debra_pere #presentation_lois #amy_pere:hover #presentation_hank,
#personnages_secondaires #famille_amy .famille #debra_pere #presentation_lois #amy_frere:hover #presentation_peter,
#personnages_secondaires #famille_amy .famille #debra_pere #presentation_warren #debra_mere:hover #presentation_lois,
#personnages_secondaires #famille_amy .famille #debra_pere #presentation_warren #debra_pere:hover #presentation_warren,
#personnages_secondaires #famille_amy .famille #debra_pere #presentation_warren #amy_mere:hover #presentation_pat,
#personnages_secondaires #famille_amy .famille #debra_pere #presentation_warren #amy_pere:hover #presentation_hank,
#personnages_secondaires #famille_amy .famille #debra_pere #presentation_warren #amy_frere:hover #presentation_peter,
#personnages_secondaires #famille_amy .famille #debra_pere #presentation_pat #debra_mere:hover #presentation_lois,
#personnages_secondaires #famille_amy .famille #debra_pere #presentation_pat #debra_pere:hover #presentation_warren,
#personnages_secondaires #famille_amy .famille #debra_pere #presentation_pat #amy_mere:hover #presentation_pat,
#personnages_secondaires #famille_amy .famille #debra_pere #presentation_pat #amy_pere:hover #presentation_hank,
#personnages_secondaires #famille_amy .famille #debra_pere #presentation_pat #amy_frere:hover #presentation_peter,
#personnages_secondaires #famille_amy .famille #debra_pere #presentation_hank #debra_mere:hover #presentation_lois,
#personnages_secondaires #famille_amy .famille #debra_pere #presentation_hank #debra_pere:hover #presentation_warren,
#personnages_secondaires #famille_amy .famille #debra_pere #presentation_hank #amy_mere:hover #presentation_pat,
#personnages_secondaires #famille_amy .famille #debra_pere #presentation_hank #amy_pere:hover #presentation_hank,
#personnages_secondaires #famille_amy .famille #debra_pere #presentation_hank #amy_frere:hover #presentation_peter,
#personnages_secondaires #famille_amy .famille #debra_pere #presentation_peter #debra_mere:hover #presentation_lois,
#personnages_secondaires #famille_amy .famille #debra_pere #presentation_peter #debra_pere:hover #presentation_warren,
#personnages_secondaires #famille_amy .famille #debra_pere #presentation_peter #amy_mere:hover #presentation_pat,
#personnages_secondaires #famille_amy .famille #debra_pere #presentation_peter #amy_pere:hover #presentation_hank,
#personnages_secondaires #famille_amy .famille #debra_pere #presentation_peter #amy_frere:hover #presentation_peter,
#personnages_secondaires #famille_amy .famille #amy_mere #presentation_lois #debra_mere:hover #presentation_lois,
#personnages_secondaires #famille_amy .famille #amy_mere #presentation_lois #debra_pere:hover #presentation_warren,
#personnages_secondaires #famille_amy .famille #amy_mere #presentation_lois #amy_mere:hover #presentation_pat,
#personnages_secondaires #famille_amy .famille #amy_mere #presentation_lois #amy_pere:hover #presentation_hank,
#personnages_secondaires #famille_amy .famille #amy_mere #presentation_lois #amy_frere:hover #presentation_peter,
#personnages_secondaires #famille_amy .famille #amy_mere #presentation_warren #debra_mere:hover #presentation_lois,
#personnages_secondaires #famille_amy .famille #amy_mere #presentation_warren #debra_pere:hover #presentation_warren,
#personnages_secondaires #famille_amy .famille #amy_mere #presentation_warren #amy_mere:hover #presentation_pat,
#personnages_secondaires #famille_amy .famille #amy_mere #presentation_warren #amy_pere:hover #presentation_hank,
#personnages_secondaires #famille_amy .famille #amy_mere #presentation_warren #amy_frere:hover #presentation_peter,
#personnages_secondaires #famille_amy .famille #amy_mere #presentation_pat #debra_mere:hover #presentation_lois,
#personnages_secondaires #famille_amy .famille #amy_mere #presentation_pat #debra_pere:hover #presentation_warren,
#personnages_secondaires #famille_amy .famille #amy_mere #presentation_pat #amy_mere:hover #presentation_pat,
#personnages_secondaires #famille_amy .famille #amy_mere #presentation_pat #amy_pere:hover #presentation_hank,
#personnages_secondaires #famille_amy .famille #amy_mere #presentation_pat #amy_frere:hover #presentation_peter,
#personnages_secondaires #famille_amy .famille #amy_mere #presentation_hank #debra_mere:hover #presentation_lois,
#personnages_secondaires #famille_amy .famille #amy_mere #presentation_hank #debra_pere:hover #presentation_warren,
#personnages_secondaires #famille_amy .famille #amy_mere #presentation_hank #amy_mere:hover #presentation_pat,
#personnages_secondaires #famille_amy .famille #amy_mere #presentation_hank #amy_pere:hover #presentation_hank,
#personnages_secondaires #famille_amy .famille #amy_mere #presentation_hank #amy_frere:hover #presentation_peter,
#personnages_secondaires #famille_amy .famille #amy_mere #presentation_peter #debra_mere:hover #presentation_lois,
#personnages_secondaires #famille_amy .famille #amy_mere #presentation_peter #debra_pere:hover #presentation_warren,
#personnages_secondaires #famille_amy .famille #amy_mere #presentation_peter #amy_mere:hover #presentation_pat,
#personnages_secondaires #famille_amy .famille #amy_mere #presentation_peter #amy_pere:hover #presentation_hank,
#personnages_secondaires #famille_amy .famille #amy_mere #presentation_peter #amy_frere:hover #presentation_peter,
#personnages_secondaires #famille_amy .famille #amy_pere #presentation_lois #debra_mere:hover #presentation_lois,
#personnages_secondaires #famille_amy .famille #amy_pere #presentation_lois #debra_pere:hover #presentation_warren,
#personnages_secondaires #famille_amy .famille #amy_pere #presentation_lois #amy_mere:hover #presentation_pat,
#personnages_secondaires #famille_amy .famille #amy_pere #presentation_lois #amy_pere:hover #presentation_hank,
#personnages_secondaires #famille_amy .famille #amy_pere #presentation_lois #amy_frere:hover #presentation_peter,
#personnages_secondaires #famille_amy .famille #amy_pere #presentation_warren #debra_mere:hover #presentation_lois,
#personnages_secondaires #famille_amy .famille #amy_pere #presentation_warren #debra_pere:hover #presentation_warren,
#personnages_secondaires #famille_amy .famille #amy_pere #presentation_warren #amy_mere:hover #presentation_pat,
#personnages_secondaires #famille_amy .famille #amy_pere #presentation_warren #amy_pere:hover #presentation_hank,
#personnages_secondaires #famille_amy .famille #amy_pere #presentation_warren #amy_frere:hover #presentation_peter,
#personnages_secondaires #famille_amy .famille #amy_pere #presentation_pat #debra_mere:hover #presentation_lois,
#personnages_secondaires #famille_amy .famille #amy_pere #presentation_pat #debra_pere:hover #presentation_warren,
#personnages_secondaires #famille_amy .famille #amy_pere #presentation_pat #amy_mere:hover #presentation_pat,
#personnages_secondaires #famille_amy .famille #amy_pere #presentation_pat #amy_pere:hover #presentation_hank,
#personnages_secondaires #famille_amy .famille #amy_pere #presentation_pat #amy_frere:hover #presentation_peter,
#personnages_secondaires #famille_amy .famille #amy_pere #presentation_hank #debra_mere:hover #presentation_lois,
#personnages_secondaires #famille_amy .famille #amy_pere #presentation_hank #debra_pere:hover #presentation_warren,
#personnages_secondaires #famille_amy .famille #amy_pere #presentation_hank #amy_mere:hover #presentation_pat,
#personnages_secondaires #famille_amy .famille #amy_pere #presentation_hank #amy_pere:hover #presentation_hank,
#personnages_secondaires #famille_amy .famille #amy_pere #presentation_hank #amy_frere:hover #presentation_peter,
#personnages_secondaires #famille_amy .famille #amy_pere #presentation_peter #debra_mere:hover #presentation_lois,
#personnages_secondaires #famille_amy .famille #amy_pere #presentation_peter #debra_pere:hover #presentation_warren,
#personnages_secondaires #famille_amy .famille #amy_pere #presentation_peter #amy_mere:hover #presentation_pat,
#personnages_secondaires #famille_amy .famille #amy_pere #presentation_peter #amy_pere:hover #presentation_hank,
#personnages_secondaires #famille_amy .famille #amy_pere #presentation_peter #amy_frere:hover #presentation_peter,
#personnages_secondaires #famille_amy .famille #amy_frere #presentation_lois #debra_mere:hover #presentation_lois,
#personnages_secondaires #famille_amy .famille #amy_frere #presentation_lois #debra_pere:hover #presentation_warren,
#personnages_secondaires #famille_amy .famille #amy_frere #presentation_lois #amy_mere:hover #presentation_pat,
#personnages_secondaires #famille_amy .famille #amy_frere #presentation_lois #amy_pere:hover #presentation_hank,
#personnages_secondaires #famille_amy .famille #amy_frere #presentation_lois #amy_frere:hover #presentation_peter,
#personnages_secondaires #famille_amy .famille #amy_frere #presentation_warren #debra_mere:hover #presentation_lois,
#personnages_secondaires #famille_amy .famille #amy_frere #presentation_warren #debra_pere:hover #presentation_warren,
#personnages_secondaires #famille_amy .famille #amy_frere #presentation_warren #amy_mere:hover #presentation_pat,
#personnages_secondaires #famille_amy .famille #amy_frere #presentation_warren #amy_pere:hover #presentation_hank,
#personnages_secondaires #famille_amy .famille #amy_frere #presentation_warren #amy_frere:hover #presentation_peter,
#personnages_secondaires #famille_amy .famille #amy_frere #presentation_pat #debra_mere:hover #presentation_lois,
#personnages_secondaires #famille_amy .famille #amy_frere #presentation_pat #debra_pere:hover #presentation_warren,
#personnages_secondaires #famille_amy .famille #amy_frere #presentation_pat #amy_mere:hover #presentation_pat,
#personnages_secondaires #famille_amy .famille #amy_frere #presentation_pat #amy_pere:hover #presentation_hank,
#personnages_secondaires #famille_amy .famille #amy_frere #presentation_pat #amy_frere:hover #presentation_peter,
#personnages_secondaires #famille_amy .famille #amy_frere #presentation_hank #debra_mere:hover #presentation_lois,
#personnages_secondaires #famille_amy .famille #amy_frere #presentation_hank #debra_pere:hover #presentation_warren,
#personnages_secondaires #famille_amy .famille #amy_frere #presentation_hank #amy_mere:hover #presentation_pat,
#personnages_secondaires #famille_amy .famille #amy_frere #presentation_hank #amy_pere:hover #presentation_hank,
#personnages_secondaires #famille_amy .famille #amy_frere #presentation_hank #amy_frere:hover #presentation_peter,
#personnages_secondaires #famille_amy .famille #amy_frere #presentation_peter #debra_mere:hover #presentation_lois,
#personnages_secondaires #famille_amy .famille #amy_frere #presentation_peter #debra_pere:hover #presentation_warren,
#personnages_secondaires #famille_amy .famille #amy_frere #presentation_peter #amy_mere:hover #presentation_pat,
#personnages_secondaires #famille_amy .famille #amy_frere #presentation_peter #amy_pere:hover #presentation_hank,
#personnages_secondaires #famille_amy .famille #amy_frere #presentation_peter #amy_frere:hover #presentation_peter {
  transform: rotateY(180deg);
}
#personnages_secondaires #famille_debra .famille #debra_mere #presentation_lois .carte_recto,
#personnages_secondaires #famille_debra .famille #debra_mere #presentation_lois .carte_verso,
#personnages_secondaires #famille_debra .famille #debra_mere #presentation_warren .carte_recto,
#personnages_secondaires #famille_debra .famille #debra_mere #presentation_warren .carte_verso,
#personnages_secondaires #famille_debra .famille #debra_mere #presentation_pat .carte_recto,
#personnages_secondaires #famille_debra .famille #debra_mere #presentation_pat .carte_verso,
#personnages_secondaires #famille_debra .famille #debra_mere #presentation_hank .carte_recto,
#personnages_secondaires #famille_debra .famille #debra_mere #presentation_hank .carte_verso,
#personnages_secondaires #famille_debra .famille #debra_mere #presentation_peter .carte_recto,
#personnages_secondaires #famille_debra .famille #debra_mere #presentation_peter .carte_verso,
#personnages_secondaires #famille_debra .famille #debra_pere #presentation_lois .carte_recto,
#personnages_secondaires #famille_debra .famille #debra_pere #presentation_lois .carte_verso,
#personnages_secondaires #famille_debra .famille #debra_pere #presentation_warren .carte_recto,
#personnages_secondaires #famille_debra .famille #debra_pere #presentation_warren .carte_verso,
#personnages_secondaires #famille_debra .famille #debra_pere #presentation_pat .carte_recto,
#personnages_secondaires #famille_debra .famille #debra_pere #presentation_pat .carte_verso,
#personnages_secondaires #famille_debra .famille #debra_pere #presentation_hank .carte_recto,
#personnages_secondaires #famille_debra .famille #debra_pere #presentation_hank .carte_verso,
#personnages_secondaires #famille_debra .famille #debra_pere #presentation_peter .carte_recto,
#personnages_secondaires #famille_debra .famille #debra_pere #presentation_peter .carte_verso,
#personnages_secondaires #famille_debra .famille #amy_mere #presentation_lois .carte_recto,
#personnages_secondaires #famille_debra .famille #amy_mere #presentation_lois .carte_verso,
#personnages_secondaires #famille_debra .famille #amy_mere #presentation_warren .carte_recto,
#personnages_secondaires #famille_debra .famille #amy_mere #presentation_warren .carte_verso,
#personnages_secondaires #famille_debra .famille #amy_mere #presentation_pat .carte_recto,
#personnages_secondaires #famille_debra .famille #amy_mere #presentation_pat .carte_verso,
#personnages_secondaires #famille_debra .famille #amy_mere #presentation_hank .carte_recto,
#personnages_secondaires #famille_debra .famille #amy_mere #presentation_hank .carte_verso,
#personnages_secondaires #famille_debra .famille #amy_mere #presentation_peter .carte_recto,
#personnages_secondaires #famille_debra .famille #amy_mere #presentation_peter .carte_verso,
#personnages_secondaires #famille_debra .famille #amy_pere #presentation_lois .carte_recto,
#personnages_secondaires #famille_debra .famille #amy_pere #presentation_lois .carte_verso,
#personnages_secondaires #famille_debra .famille #amy_pere #presentation_warren .carte_recto,
#personnages_secondaires #famille_debra .famille #amy_pere #presentation_warren .carte_verso,
#personnages_secondaires #famille_debra .famille #amy_pere #presentation_pat .carte_recto,
#personnages_secondaires #famille_debra .famille #amy_pere #presentation_pat .carte_verso,
#personnages_secondaires #famille_debra .famille #amy_pere #presentation_hank .carte_recto,
#personnages_secondaires #famille_debra .famille #amy_pere #presentation_hank .carte_verso,
#personnages_secondaires #famille_debra .famille #amy_pere #presentation_peter .carte_recto,
#personnages_secondaires #famille_debra .famille #amy_pere #presentation_peter .carte_verso,
#personnages_secondaires #famille_debra .famille #amy_frere #presentation_lois .carte_recto,
#personnages_secondaires #famille_debra .famille #amy_frere #presentation_lois .carte_verso,
#personnages_secondaires #famille_debra .famille #amy_frere #presentation_warren .carte_recto,
#personnages_secondaires #famille_debra .famille #amy_frere #presentation_warren .carte_verso,
#personnages_secondaires #famille_debra .famille #amy_frere #presentation_pat .carte_recto,
#personnages_secondaires #famille_debra .famille #amy_frere #presentation_pat .carte_verso,
#personnages_secondaires #famille_debra .famille #amy_frere #presentation_hank .carte_recto,
#personnages_secondaires #famille_debra .famille #amy_frere #presentation_hank .carte_verso,
#personnages_secondaires #famille_debra .famille #amy_frere #presentation_peter .carte_recto,
#personnages_secondaires #famille_debra .famille #amy_frere #presentation_peter .carte_verso,
#personnages_secondaires #famille_amy .famille #debra_mere #presentation_lois .carte_recto,
#personnages_secondaires #famille_amy .famille #debra_mere #presentation_lois .carte_verso,
#personnages_secondaires #famille_amy .famille #debra_mere #presentation_warren .carte_recto,
#personnages_secondaires #famille_amy .famille #debra_mere #presentation_warren .carte_verso,
#personnages_secondaires #famille_amy .famille #debra_mere #presentation_pat .carte_recto,
#personnages_secondaires #famille_amy .famille #debra_mere #presentation_pat .carte_verso,
#personnages_secondaires #famille_amy .famille #debra_mere #presentation_hank .carte_recto,
#personnages_secondaires #famille_amy .famille #debra_mere #presentation_hank .carte_verso,
#personnages_secondaires #famille_amy .famille #debra_mere #presentation_peter .carte_recto,
#personnages_secondaires #famille_amy .famille #debra_mere #presentation_peter .carte_verso,
#personnages_secondaires #famille_amy .famille #debra_pere #presentation_lois .carte_recto,
#personnages_secondaires #famille_amy .famille #debra_pere #presentation_lois .carte_verso,
#personnages_secondaires #famille_amy .famille #debra_pere #presentation_warren .carte_recto,
#personnages_secondaires #famille_amy .famille #debra_pere #presentation_warren .carte_verso,
#personnages_secondaires #famille_amy .famille #debra_pere #presentation_pat .carte_recto,
#personnages_secondaires #famille_amy .famille #debra_pere #presentation_pat .carte_verso,
#personnages_secondaires #famille_amy .famille #debra_pere #presentation_hank .carte_recto,
#personnages_secondaires #famille_amy .famille #debra_pere #presentation_hank .carte_verso,
#personnages_secondaires #famille_amy .famille #debra_pere #presentation_peter .carte_recto,
#personnages_secondaires #famille_amy .famille #debra_pere #presentation_peter .carte_verso,
#personnages_secondaires #famille_amy .famille #amy_mere #presentation_lois .carte_recto,
#personnages_secondaires #famille_amy .famille #amy_mere #presentation_lois .carte_verso,
#personnages_secondaires #famille_amy .famille #amy_mere #presentation_warren .carte_recto,
#personnages_secondaires #famille_amy .famille #amy_mere #presentation_warren .carte_verso,
#personnages_secondaires #famille_amy .famille #amy_mere #presentation_pat .carte_recto,
#personnages_secondaires #famille_amy .famille #amy_mere #presentation_pat .carte_verso,
#personnages_secondaires #famille_amy .famille #amy_mere #presentation_hank .carte_recto,
#personnages_secondaires #famille_amy .famille #amy_mere #presentation_hank .carte_verso,
#personnages_secondaires #famille_amy .famille #amy_mere #presentation_peter .carte_recto,
#personnages_secondaires #famille_amy .famille #amy_mere #presentation_peter .carte_verso,
#personnages_secondaires #famille_amy .famille #amy_pere #presentation_lois .carte_recto,
#personnages_secondaires #famille_amy .famille #amy_pere #presentation_lois .carte_verso,
#personnages_secondaires #famille_amy .famille #amy_pere #presentation_warren .carte_recto,
#personnages_secondaires #famille_amy .famille #amy_pere #presentation_warren .carte_verso,
#personnages_secondaires #famille_amy .famille #amy_pere #presentation_pat .carte_recto,
#personnages_secondaires #famille_amy .famille #amy_pere #presentation_pat .carte_verso,
#personnages_secondaires #famille_amy .famille #amy_pere #presentation_hank .carte_recto,
#personnages_secondaires #famille_amy .famille #amy_pere #presentation_hank .carte_verso,
#personnages_secondaires #famille_amy .famille #amy_pere #presentation_peter .carte_recto,
#personnages_secondaires #famille_amy .famille #amy_pere #presentation_peter .carte_verso,
#personnages_secondaires #famille_amy .famille #amy_frere #presentation_lois .carte_recto,
#personnages_secondaires #famille_amy .famille #amy_frere #presentation_lois .carte_verso,
#personnages_secondaires #famille_amy .famille #amy_frere #presentation_warren .carte_recto,
#personnages_secondaires #famille_amy .famille #amy_frere #presentation_warren .carte_verso,
#personnages_secondaires #famille_amy .famille #amy_frere #presentation_pat .carte_recto,
#personnages_secondaires #famille_amy .famille #amy_frere #presentation_pat .carte_verso,
#personnages_secondaires #famille_amy .famille #amy_frere #presentation_hank .carte_recto,
#personnages_secondaires #famille_amy .famille #amy_frere #presentation_hank .carte_verso,
#personnages_secondaires #famille_amy .famille #amy_frere #presentation_peter .carte_recto,
#personnages_secondaires #famille_amy .famille #amy_frere #presentation_peter .carte_verso {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}
#personnages_secondaires #famille_debra .famille #debra_mere #presentation_lois .carte_recto,
#personnages_secondaires #famille_debra .famille #debra_mere #presentation_warren .carte_recto,
#personnages_secondaires #famille_debra .famille #debra_mere #presentation_pat .carte_recto,
#personnages_secondaires #famille_debra .famille #debra_mere #presentation_hank .carte_recto,
#personnages_secondaires #famille_debra .famille #debra_mere #presentation_peter .carte_recto,
#personnages_secondaires #famille_debra .famille #debra_pere #presentation_lois .carte_recto,
#personnages_secondaires #famille_debra .famille #debra_pere #presentation_warren .carte_recto,
#personnages_secondaires #famille_debra .famille #debra_pere #presentation_pat .carte_recto,
#personnages_secondaires #famille_debra .famille #debra_pere #presentation_hank .carte_recto,
#personnages_secondaires #famille_debra .famille #debra_pere #presentation_peter .carte_recto,
#personnages_secondaires #famille_debra .famille #amy_mere #presentation_lois .carte_recto,
#personnages_secondaires #famille_debra .famille #amy_mere #presentation_warren .carte_recto,
#personnages_secondaires #famille_debra .famille #amy_mere #presentation_pat .carte_recto,
#personnages_secondaires #famille_debra .famille #amy_mere #presentation_hank .carte_recto,
#personnages_secondaires #famille_debra .famille #amy_mere #presentation_peter .carte_recto,
#personnages_secondaires #famille_debra .famille #amy_pere #presentation_lois .carte_recto,
#personnages_secondaires #famille_debra .famille #amy_pere #presentation_warren .carte_recto,
#personnages_secondaires #famille_debra .famille #amy_pere #presentation_pat .carte_recto,
#personnages_secondaires #famille_debra .famille #amy_pere #presentation_hank .carte_recto,
#personnages_secondaires #famille_debra .famille #amy_pere #presentation_peter .carte_recto,
#personnages_secondaires #famille_debra .famille #amy_frere #presentation_lois .carte_recto,
#personnages_secondaires #famille_debra .famille #amy_frere #presentation_warren .carte_recto,
#personnages_secondaires #famille_debra .famille #amy_frere #presentation_pat .carte_recto,
#personnages_secondaires #famille_debra .famille #amy_frere #presentation_hank .carte_recto,
#personnages_secondaires #famille_debra .famille #amy_frere #presentation_peter .carte_recto,
#personnages_secondaires #famille_amy .famille #debra_mere #presentation_lois .carte_recto,
#personnages_secondaires #famille_amy .famille #debra_mere #presentation_warren .carte_recto,
#personnages_secondaires #famille_amy .famille #debra_mere #presentation_pat .carte_recto,
#personnages_secondaires #famille_amy .famille #debra_mere #presentation_hank .carte_recto,
#personnages_secondaires #famille_amy .famille #debra_mere #presentation_peter .carte_recto,
#personnages_secondaires #famille_amy .famille #debra_pere #presentation_lois .carte_recto,
#personnages_secondaires #famille_amy .famille #debra_pere #presentation_warren .carte_recto,
#personnages_secondaires #famille_amy .famille #debra_pere #presentation_pat .carte_recto,
#personnages_secondaires #famille_amy .famille #debra_pere #presentation_hank .carte_recto,
#personnages_secondaires #famille_amy .famille #debra_pere #presentation_peter .carte_recto,
#personnages_secondaires #famille_amy .famille #amy_mere #presentation_lois .carte_recto,
#personnages_secondaires #famille_amy .famille #amy_mere #presentation_warren .carte_recto,
#personnages_secondaires #famille_amy .famille #amy_mere #presentation_pat .carte_recto,
#personnages_secondaires #famille_amy .famille #amy_mere #presentation_hank .carte_recto,
#personnages_secondaires #famille_amy .famille #amy_mere #presentation_peter .carte_recto,
#personnages_secondaires #famille_amy .famille #amy_pere #presentation_lois .carte_recto,
#personnages_secondaires #famille_amy .famille #amy_pere #presentation_warren .carte_recto,
#personnages_secondaires #famille_amy .famille #amy_pere #presentation_pat .carte_recto,
#personnages_secondaires #famille_amy .famille #amy_pere #presentation_hank .carte_recto,
#personnages_secondaires #famille_amy .famille #amy_pere #presentation_peter .carte_recto,
#personnages_secondaires #famille_amy .famille #amy_frere #presentation_lois .carte_recto,
#personnages_secondaires #famille_amy .famille #amy_frere #presentation_warren .carte_recto,
#personnages_secondaires #famille_amy .famille #amy_frere #presentation_pat .carte_recto,
#personnages_secondaires #famille_amy .famille #amy_frere #presentation_hank .carte_recto,
#personnages_secondaires #famille_amy .famille #amy_frere #presentation_peter .carte_recto {
  background-color: peru;
  color: blue;
}
#personnages_secondaires #famille_debra .famille #debra_mere #presentation_lois .carte_verso,
#personnages_secondaires #famille_debra .famille #debra_mere #presentation_warren .carte_verso,
#personnages_secondaires #famille_debra .famille #debra_mere #presentation_pat .carte_verso,
#personnages_secondaires #famille_debra .famille #debra_mere #presentation_hank .carte_verso,
#personnages_secondaires #famille_debra .famille #debra_mere #presentation_peter .carte_verso,
#personnages_secondaires #famille_debra .famille #debra_pere #presentation_lois .carte_verso,
#personnages_secondaires #famille_debra .famille #debra_pere #presentation_warren .carte_verso,
#personnages_secondaires #famille_debra .famille #debra_pere #presentation_pat .carte_verso,
#personnages_secondaires #famille_debra .famille #debra_pere #presentation_hank .carte_verso,
#personnages_secondaires #famille_debra .famille #debra_pere #presentation_peter .carte_verso,
#personnages_secondaires #famille_debra .famille #amy_mere #presentation_lois .carte_verso,
#personnages_secondaires #famille_debra .famille #amy_mere #presentation_warren .carte_verso,
#personnages_secondaires #famille_debra .famille #amy_mere #presentation_pat .carte_verso,
#personnages_secondaires #famille_debra .famille #amy_mere #presentation_hank .carte_verso,
#personnages_secondaires #famille_debra .famille #amy_mere #presentation_peter .carte_verso,
#personnages_secondaires #famille_debra .famille #amy_pere #presentation_lois .carte_verso,
#personnages_secondaires #famille_debra .famille #amy_pere #presentation_warren .carte_verso,
#personnages_secondaires #famille_debra .famille #amy_pere #presentation_pat .carte_verso,
#personnages_secondaires #famille_debra .famille #amy_pere #presentation_hank .carte_verso,
#personnages_secondaires #famille_debra .famille #amy_pere #presentation_peter .carte_verso,
#personnages_secondaires #famille_debra .famille #amy_frere #presentation_lois .carte_verso,
#personnages_secondaires #famille_debra .famille #amy_frere #presentation_warren .carte_verso,
#personnages_secondaires #famille_debra .famille #amy_frere #presentation_pat .carte_verso,
#personnages_secondaires #famille_debra .famille #amy_frere #presentation_hank .carte_verso,
#personnages_secondaires #famille_debra .famille #amy_frere #presentation_peter .carte_verso,
#personnages_secondaires #famille_amy .famille #debra_mere #presentation_lois .carte_verso,
#personnages_secondaires #famille_amy .famille #debra_mere #presentation_warren .carte_verso,
#personnages_secondaires #famille_amy .famille #debra_mere #presentation_pat .carte_verso,
#personnages_secondaires #famille_amy .famille #debra_mere #presentation_hank .carte_verso,
#personnages_secondaires #famille_amy .famille #debra_mere #presentation_peter .carte_verso,
#personnages_secondaires #famille_amy .famille #debra_pere #presentation_lois .carte_verso,
#personnages_secondaires #famille_amy .famille #debra_pere #presentation_warren .carte_verso,
#personnages_secondaires #famille_amy .famille #debra_pere #presentation_pat .carte_verso,
#personnages_secondaires #famille_amy .famille #debra_pere #presentation_hank .carte_verso,
#personnages_secondaires #famille_amy .famille #debra_pere #presentation_peter .carte_verso,
#personnages_secondaires #famille_amy .famille #amy_mere #presentation_lois .carte_verso,
#personnages_secondaires #famille_amy .famille #amy_mere #presentation_warren .carte_verso,
#personnages_secondaires #famille_amy .famille #amy_mere #presentation_pat .carte_verso,
#personnages_secondaires #famille_amy .famille #amy_mere #presentation_hank .carte_verso,
#personnages_secondaires #famille_amy .famille #amy_mere #presentation_peter .carte_verso,
#personnages_secondaires #famille_amy .famille #amy_pere #presentation_lois .carte_verso,
#personnages_secondaires #famille_amy .famille #amy_pere #presentation_warren .carte_verso,
#personnages_secondaires #famille_amy .famille #amy_pere #presentation_pat .carte_verso,
#personnages_secondaires #famille_amy .famille #amy_pere #presentation_hank .carte_verso,
#personnages_secondaires #famille_amy .famille #amy_pere #presentation_peter .carte_verso,
#personnages_secondaires #famille_amy .famille #amy_frere #presentation_lois .carte_verso,
#personnages_secondaires #famille_amy .famille #amy_frere #presentation_warren .carte_verso,
#personnages_secondaires #famille_amy .famille #amy_frere #presentation_pat .carte_verso,
#personnages_secondaires #famille_amy .famille #amy_frere #presentation_hank .carte_verso,
#personnages_secondaires #famille_amy .famille #amy_frere #presentation_peter .carte_verso {
  background-color: yellow;
  color: green;
  transform: rotateY(180deg);
}

#episodes {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#episodes .dvd {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#episodes .dvd .saison {
  box-shadow: 0 4px 8px #c6c6c6;
  width: 10%;
  height: 150px;
}
#episodes .dvd .saison a {
  text-decoration: none;
}
#episodes .dvd .saison .dvd_photo {
  width: 100%;
  height: 80%;
  object-fit: cover;
}

/*# sourceMappingURL=style.css.map */
