@import url("https://fonts.googleapis.com/css2?family=Comforter+Brush&family=Raleway:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Redressed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Domine&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Handlee&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Love+Light&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kolker+Brush&display=swap");
@import url("https://necolas.github.io/normalize.css/8.0.1/normalize.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 20px;
  color: #000000;
  background: linear-gradient(#e8ec0f, #ec8c0f, #ec0f0f);
  background-attachment: fixed;
}

.container {
  width: 100%;
  margin: auto;
}
@media screen and (min-width: ) {
  .container {
    width: 1394px;
  }
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(red, orange, yellow);
}
header h1 {
  color: #000000;
  font-family: sacramento, Arial, Helvetica, sans-serif;
  font-size: 70px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 40px;
}
header h2 {
  color: #000000;
  font-size: 30px;
  font-family: AlexBrush, Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}
header #photo_groupe {
  width: 45%;
  height: 550px;
  margin: 15px 0px;
}
header nav {
  width: 90%;
  margin-bottom: 30px;
}
header nav #menu {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
@media (max-width: 767px) {
  header nav #menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
header nav #menu li {
  font-size: 20px;
  font-weight: bold;
}
header nav #menu a {
  color: black;
  text-decoration: none;
}
header nav #menu a:hover {
  cursor: pointer;
  color: red;
  text-decoration: dashed 3px yellow;
}

footer {
  background-color: #161616;
  color: #f6f6f6;
}
footer .container {
  width: 100%;
}
footer .container div {
  text-align: center;
  font-size: 22px;
  line-height: 30px;
  margin-top: 10px;
}

#photos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 40px;
  margin-bottom: 40px;
}
@media (max-width: 767px) {
  #photos {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
#photos #photo_ray,
#photos #photo_debra,
#photos #photo_marie,
#photos #photo_frank,
#photos #photo_robert,
#photos #photo_amy {
  display: flex;
  flex-direction: column;
  width: 10%;
  height: 260px;
  border: solid 3px #ec8c0f;
  align-items: center;
}
#photos #photo_ray .ray,
#photos #photo_ray .debra,
#photos #photo_ray .marie,
#photos #photo_ray .frank,
#photos #photo_ray .robert,
#photos #photo_ray .amy,
#photos #photo_debra .ray,
#photos #photo_debra .debra,
#photos #photo_debra .marie,
#photos #photo_debra .frank,
#photos #photo_debra .robert,
#photos #photo_debra .amy,
#photos #photo_marie .ray,
#photos #photo_marie .debra,
#photos #photo_marie .marie,
#photos #photo_marie .frank,
#photos #photo_marie .robert,
#photos #photo_marie .amy,
#photos #photo_frank .ray,
#photos #photo_frank .debra,
#photos #photo_frank .marie,
#photos #photo_frank .frank,
#photos #photo_frank .robert,
#photos #photo_frank .amy,
#photos #photo_robert .ray,
#photos #photo_robert .debra,
#photos #photo_robert .marie,
#photos #photo_robert .frank,
#photos #photo_robert .robert,
#photos #photo_robert .amy,
#photos #photo_amy .ray,
#photos #photo_amy .debra,
#photos #photo_amy .marie,
#photos #photo_amy .frank,
#photos #photo_amy .robert,
#photos #photo_amy .amy {
  width: 100%;
  height: 240px;
  object-fit: cover;
}
#photos #photo_ray .nom,
#photos #photo_debra .nom,
#photos #photo_marie .nom,
#photos #photo_frank .nom,
#photos #photo_robert .nom,
#photos #photo_amy .nom {
  margin-top: 10px;
  font-family: Redressed;
  font-size: 25px;
}

#histoire {
  margin: auto;
}
#histoire h3 {
  color: #000000;
  font-size: 25px;
  font-weight: 700;
  text-align: center;
}
#histoire #resume {
  margin: 40px;
  text-align: justify;
  font-size: 18px;
}

#personnages {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px;
}
#personnages h3 {
  font-size: 25px;
  color: #000000;
  text-align: center;
}
#personnages #disposition_personnages {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
@media (max-width: 767px) {
  #personnages #disposition_personnages {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
#personnages #disposition_personnages .first_row,
#personnages #disposition_personnages .second_row {
  display: flex;
}
#personnages #disposition_personnages .first_row #personnage_ray,
#personnages #disposition_personnages .first_row #personnage_debra,
#personnages #disposition_personnages .first_row #personnage_marie,
#personnages #disposition_personnages .first_row #personnage_frank,
#personnages #disposition_personnages .first_row #personnage_robert,
#personnages #disposition_personnages .first_row #personnage_amy,
#personnages #disposition_personnages .second_row #personnage_ray,
#personnages #disposition_personnages .second_row #personnage_debra,
#personnages #disposition_personnages .second_row #personnage_marie,
#personnages #disposition_personnages .second_row #personnage_frank,
#personnages #disposition_personnages .second_row #personnage_robert,
#personnages #disposition_personnages .second_row #personnage_amy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 4px 8px #e6e6e6;
  border: solid 2px #000000;
  width: 300px;
  height: 400px;
  margin: auto;
  text-align: center;
  margin: 30px;
}
#personnages #disposition_personnages .first_row #personnage_ray .photo_personnage,
#personnages #disposition_personnages .first_row #personnage_debra .photo_personnage,
#personnages #disposition_personnages .first_row #personnage_marie .photo_personnage,
#personnages #disposition_personnages .first_row #personnage_frank .photo_personnage,
#personnages #disposition_personnages .first_row #personnage_robert .photo_personnage,
#personnages #disposition_personnages .first_row #personnage_amy .photo_personnage,
#personnages #disposition_personnages .second_row #personnage_ray .photo_personnage,
#personnages #disposition_personnages .second_row #personnage_debra .photo_personnage,
#personnages #disposition_personnages .second_row #personnage_marie .photo_personnage,
#personnages #disposition_personnages .second_row #personnage_frank .photo_personnage,
#personnages #disposition_personnages .second_row #personnage_robert .photo_personnage,
#personnages #disposition_personnages .second_row #personnage_amy .photo_personnage {
  width: 100%;
  height: 327px;
  object-fit: cover;
}
#personnages #disposition_personnages .first_row #personnage_ray h4,
#personnages #disposition_personnages .first_row #personnage_debra h4,
#personnages #disposition_personnages .first_row #personnage_marie h4,
#personnages #disposition_personnages .first_row #personnage_frank h4,
#personnages #disposition_personnages .first_row #personnage_robert h4,
#personnages #disposition_personnages .first_row #personnage_amy h4,
#personnages #disposition_personnages .second_row #personnage_ray h4,
#personnages #disposition_personnages .second_row #personnage_debra h4,
#personnages #disposition_personnages .second_row #personnage_marie h4,
#personnages #disposition_personnages .second_row #personnage_frank h4,
#personnages #disposition_personnages .second_row #personnage_robert h4,
#personnages #disposition_personnages .second_row #personnage_amy h4 {
  color: red;
  font-size: 20px;
  padding-top: 10px;
}
#personnages #disposition_personnages .first_row #personnage_ray p,
#personnages #disposition_personnages .first_row #personnage_debra p,
#personnages #disposition_personnages .first_row #personnage_marie p,
#personnages #disposition_personnages .first_row #personnage_frank p,
#personnages #disposition_personnages .first_row #personnage_robert p,
#personnages #disposition_personnages .first_row #personnage_amy p,
#personnages #disposition_personnages .second_row #personnage_ray p,
#personnages #disposition_personnages .second_row #personnage_debra p,
#personnages #disposition_personnages .second_row #personnage_marie p,
#personnages #disposition_personnages .second_row #personnage_frank p,
#personnages #disposition_personnages .second_row #personnage_robert p,
#personnages #disposition_personnages .second_row #personnage_amy p {
  color: #000000;
  font-size: 18px;
  padding: 10px 0px;
  text-align: center;
}

#acteurs h3 {
  color: #ec0f0f;
  font-size: 25px;
  margin-top: 30px;
  text-align: center;
}
#acteurs .acteurs {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 15px;
}
#acteurs .acteurs .acteur_ray,
#acteurs .acteurs .acteur_marie,
#acteurs .acteurs .acteur_robert,
#acteurs .acteurs .acteur_debra,
#acteurs .acteurs .acteur_frank,
#acteurs .acteurs .acteur_amy {
  display: flex;
  flex-direction: column;
  border: 3px solid black;
  box-shadow: 3px 8px 5px orange;
  width: 25%;
  margin: 10px auto;
  overflow: hidden;
  transition: 0.4s ease-in;
}
@media (max-width: 767px) {
  #acteurs .acteurs .acteur_ray,
#acteurs .acteurs .acteur_marie,
#acteurs .acteurs .acteur_robert,
#acteurs .acteurs .acteur_debra,
#acteurs .acteurs .acteur_frank,
#acteurs .acteurs .acteur_amy {
    width: 50%;
  }
}
#acteurs .acteurs .acteur_ray:hover,
#acteurs .acteurs .acteur_marie:hover,
#acteurs .acteurs .acteur_robert:hover,
#acteurs .acteurs .acteur_debra:hover,
#acteurs .acteurs .acteur_frank:hover,
#acteurs .acteurs .acteur_amy:hover {
  width: 50%;
  overflow-x: scroll;
}
@media (max-width: 767px) {
  #acteurs .acteurs .acteur_ray:hover,
#acteurs .acteurs .acteur_marie:hover,
#acteurs .acteurs .acteur_robert:hover,
#acteurs .acteurs .acteur_debra:hover,
#acteurs .acteurs .acteur_frank:hover,
#acteurs .acteurs .acteur_amy:hover {
    width: 80%;
  }
}
#acteurs .acteurs .acteur_ray h4,
#acteurs .acteurs .acteur_marie h4,
#acteurs .acteurs .acteur_robert h4,
#acteurs .acteurs .acteur_debra h4,
#acteurs .acteurs .acteur_frank h4,
#acteurs .acteurs .acteur_amy h4 {
  font-family: DancingScript;
  font-size: 25px;
  text-align: center;
  margin-top: 10px;
}
#acteurs .acteurs .acteur_ray .acteur_portrait,
#acteurs .acteurs .acteur_marie .acteur_portrait,
#acteurs .acteurs .acteur_robert .acteur_portrait,
#acteurs .acteurs .acteur_debra .acteur_portrait,
#acteurs .acteurs .acteur_frank .acteur_portrait,
#acteurs .acteurs .acteur_amy .acteur_portrait {
  display: flex;
  flex-direction: row;
}
#acteurs .acteurs .acteur_ray .acteur_portrait .acteur_photo,
#acteurs .acteurs .acteur_marie .acteur_portrait .acteur_photo,
#acteurs .acteurs .acteur_robert .acteur_portrait .acteur_photo,
#acteurs .acteurs .acteur_debra .acteur_portrait .acteur_photo,
#acteurs .acteurs .acteur_frank .acteur_portrait .acteur_photo,
#acteurs .acteurs .acteur_amy .acteur_portrait .acteur_photo {
  width: 200px;
  height: 300px;
  object-fit: cover;
  margin: 10px;
}
#acteurs .acteurs .acteur_ray .acteur_portrait .acteur_biographie,
#acteurs .acteurs .acteur_marie .acteur_portrait .acteur_biographie,
#acteurs .acteurs .acteur_robert .acteur_portrait .acteur_biographie,
#acteurs .acteurs .acteur_debra .acteur_portrait .acteur_biographie,
#acteurs .acteurs .acteur_frank .acteur_portrait .acteur_biographie,
#acteurs .acteurs .acteur_amy .acteur_portrait .acteur_biographie {
  text-align: justify;
  height: 300px;
  overflow: hidden;
  margin: 15px;
}
#acteurs .acteurs .acteur_ray .acteur_position,
#acteurs .acteurs .acteur_marie .acteur_position,
#acteurs .acteurs .acteur_robert .acteur_position,
#acteurs .acteurs .acteur_debra .acteur_position,
#acteurs .acteurs .acteur_frank .acteur_position,
#acteurs .acteurs .acteur_amy .acteur_position {
  flex-direction: row-reverse;
}

#personnages_secondaires {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#personnages_secondaires h3 {
  font-size: 25px;
  color: #000000;
  font-weight: bold;
  padding: 20px 0px;
  text-align: center;
}
#personnages_secondaires #famille_debra,
#personnages_secondaires #famille_amy {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#personnages_secondaires #famille_debra h4,
#personnages_secondaires #famille_amy h4 {
  font-family: lobster;
  font-size: 25px;
  text-align: center;
  padding: 20px;
}
#personnages_secondaires #famille_debra .famille,
#personnages_secondaires #famille_amy .famille {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px;
}
@media (max-width: 767px) {
  #personnages_secondaires #famille_debra .famille,
#personnages_secondaires #famille_amy .famille {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
#personnages_secondaires #famille_debra .famille #debra_mere,
#personnages_secondaires #famille_debra .famille #debra_pere,
#personnages_secondaires #famille_debra .famille #amy_mere,
#personnages_secondaires #famille_debra .famille #amy_pere,
#personnages_secondaires #famille_debra .famille #amy_frere,
#personnages_secondaires #famille_amy .famille #debra_mere,
#personnages_secondaires #famille_amy .famille #debra_pere,
#personnages_secondaires #famille_amy .famille #amy_mere,
#personnages_secondaires #famille_amy .famille #amy_pere,
#personnages_secondaires #famille_amy .famille #amy_frere {
  margin: 5px;
}

#episodes {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#episodes .dvd {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#episodes .dvd .season {
  box-shadow: 0 4px 8px #c6c6c6;
  width: 10%;
  margin-bottom: 15px;
}
#episodes .dvd .season a {
  text-decoration: none;
}
#episodes .dvd .season h4,
#episodes .dvd .season p {
  display: none;
}
#episodes .dvd .season .dvd_photo {
  width: 100%;
  height: 80%;
  object-fit: cover;
}
#episodes .dvd .season .dvd_photohover h4,
#episodes .dvd .season .dvd_photohover p {
  display: content;
}

#list_episodes {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#list_episodes h3 {
  font-size: 25px;
  text-align: center;
  margin: 20px;
}
#list_episodes .list_dvd {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#list_episodes .list_dvd .section {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
@media (max-width: 767px) {
  #list_episodes .list_dvd .section {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
#list_episodes .list_dvd .section .list_season {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 25%;
  height: 450px;
  margin: 15px;
}
#list_episodes .list_dvd .section .list_season h4 {
  font-size: 30px;
  color: red;
  text-align: center;
  margin-bottom: 15px;
}
#list_episodes .list_dvd .section .list_season .season_photo {
  width: 100%;
  height: 410px;
  object-fit: cover;
}
#list_episodes .list_dvd .section .list_season button {
  text-align: center;
}

#quiz, #tests {
  margin: 20px;
  margin-top: 40px;
  font-size: 20px;
  list-style-type: none;
}
#quiz h3, #tests h3 {
  font-size: 22px;
  margin-bottom: 10px;
}

#test {
  width: 50%;
}
#test h3 {
  font-size: 25px;
  color: #000000;
  text-align: center;
}
#test #btn_color1,
#test #btn_color2 #btn_color3,
#test #btn_color4,
#test #btn_color5,
#test #btn_color6 {
  width: 25px;
  height: 25px;
}
#test #btn_color1 {
  background-color: blue;
  border: 1px solid black;
}
#test #btn_color2 {
  background-color: red;
}
#test #btn_color3 {
  background-color: green;
}
#test #btn_color4 {
  background-color: yellow;
}
#test #btn_color5 {
  background-color: purple;
}
#test #btn_color6 {
  background-color: black;
}
#test #btn_food1,
#test #btn_food2,
#test #btn_food3,
#test #btn_food4,
#test #btn_food5,
#test #btn_food6 {
  display: flex;
  flex-direction: row;
}
#test #btn_animal1,
#test #btn_animal2,
#test #btn_animal3,
#test #btn_animal4,
#test #btn_animal5,
#test #btn_animal6 {
  display: flex;
  flex-direction: row;
}
#test #btn_caractere1,
#test #btn_caractere2,
#test #btn_caractere3,
#test #btn_caractere4,
#test #btn_caractere5,
#test #btn_caractere6 {
  display: flex;
  flex-direction: row;
}
#test #btn_country1,
#test #btn_country2,
#test #btn_country3,
#test #btn_country4,
#test #btn_country5,
#test #btn_country6 {
  display: flex;
  flex-direction: row;
}
#test #btn_activity1,
#test #btn_activity2,
#test #btn_activity3,
#test #btn_activity4,
#test #btn_activity5,
#test #btn_activity6 {
  display: flex;
  flex-direction: row;
}
#test #btn_house1,
#test #btn_house2,
#test #btn_house3,
#test #btn_house4,
#test #btn_house5,
#test #btn_house6 {
  display: flex;
  flex-direction: row;
}
#test #btn_object1,
#test #btn_object2,
#test #btn_object3,
#test #btn_object4,
#test #btn_object5,
#test #btn_object6 {
  display: flex;
  flex-direction: row;
}
#test #big_response {
  background-color: yellow;
  border: 3px solid red;
  box-shadow: 3px 3px 3px orange;
}

#questions {
  font-size: 18px;
  margin-left: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
}
#questions h3 {
  font-size: 22px;
  margin: 30px;
}
#questions input {
  margin: 10px;
}
#questions #quiz_click1,
#questions .quiz_click {
  margin-bottom: 10px;
}
#questions #quiz_click1 h4,
#questions .quiz_click h4 {
  margin-bottom: 10px;
}
#questions #quiz_click1 .response1,
#questions #quiz_click1 .response2,
#questions #quiz_click1 .response3,
#questions #quiz_click1 .response4,
#questions #quiz_click1 .response5,
#questions .quiz_click .response1,
#questions .quiz_click .response2,
#questions .quiz_click .response3,
#questions .quiz_click .response4,
#questions .quiz_click .response5 {
  margin-left: 10px;
  margin-bottom: 10px;
}
#questions .big_response1,
#questions .big_response2,
#questions .big_response3,
#questions .big_response4,
#questions .big_response5,
#questions .big_response6,
#questions .big_response7,
#questions .big_response8,
#questions .big_response9,
#questions .big_response10 {
  margin: 20px;
}

#debra_mere,
#debra_pere,
#amy_mere,
#amy_pere,
#amy_frere {
  background-color: transparent;
  width: 300px;
  height: 400px;
  border: 1px solid #ec8c0f;
  perspective: 1000px;
}
#debra_mere #presentation_lois,
#debra_mere #presentation_warren,
#debra_mere #presentation_pat,
#debra_mere #presentation_hank,
#debra_mere #presentation_peter,
#debra_pere #presentation_lois,
#debra_pere #presentation_warren,
#debra_pere #presentation_pat,
#debra_pere #presentation_hank,
#debra_pere #presentation_peter,
#amy_mere #presentation_lois,
#amy_mere #presentation_warren,
#amy_mere #presentation_pat,
#amy_mere #presentation_hank,
#amy_mere #presentation_peter,
#amy_pere #presentation_lois,
#amy_pere #presentation_warren,
#amy_pere #presentation_pat,
#amy_pere #presentation_hank,
#amy_pere #presentation_peter,
#amy_frere #presentation_lois,
#amy_frere #presentation_warren,
#amy_frere #presentation_pat,
#amy_frere #presentation_hank,
#amy_frere #presentation_peter {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
#debra_mere #presentation_lois #debra_mere:hover #presentation_lois,
#debra_mere #presentation_lois #debra_pere:hover #presentation_warren,
#debra_mere #presentation_lois #amy_mere:hover #presentation_pat,
#debra_mere #presentation_lois #amy_pere:hover #presentation_hank,
#debra_mere #presentation_lois #amy_frere:hover #presentation_peter,
#debra_mere #presentation_warren #debra_mere:hover #presentation_lois,
#debra_mere #presentation_warren #debra_pere:hover #presentation_warren,
#debra_mere #presentation_warren #amy_mere:hover #presentation_pat,
#debra_mere #presentation_warren #amy_pere:hover #presentation_hank,
#debra_mere #presentation_warren #amy_frere:hover #presentation_peter,
#debra_mere #presentation_pat #debra_mere:hover #presentation_lois,
#debra_mere #presentation_pat #debra_pere:hover #presentation_warren,
#debra_mere #presentation_pat #amy_mere:hover #presentation_pat,
#debra_mere #presentation_pat #amy_pere:hover #presentation_hank,
#debra_mere #presentation_pat #amy_frere:hover #presentation_peter,
#debra_mere #presentation_hank #debra_mere:hover #presentation_lois,
#debra_mere #presentation_hank #debra_pere:hover #presentation_warren,
#debra_mere #presentation_hank #amy_mere:hover #presentation_pat,
#debra_mere #presentation_hank #amy_pere:hover #presentation_hank,
#debra_mere #presentation_hank #amy_frere:hover #presentation_peter,
#debra_mere #presentation_peter #debra_mere:hover #presentation_lois,
#debra_mere #presentation_peter #debra_pere:hover #presentation_warren,
#debra_mere #presentation_peter #amy_mere:hover #presentation_pat,
#debra_mere #presentation_peter #amy_pere:hover #presentation_hank,
#debra_mere #presentation_peter #amy_frere:hover #presentation_peter,
#debra_pere #presentation_lois #debra_mere:hover #presentation_lois,
#debra_pere #presentation_lois #debra_pere:hover #presentation_warren,
#debra_pere #presentation_lois #amy_mere:hover #presentation_pat,
#debra_pere #presentation_lois #amy_pere:hover #presentation_hank,
#debra_pere #presentation_lois #amy_frere:hover #presentation_peter,
#debra_pere #presentation_warren #debra_mere:hover #presentation_lois,
#debra_pere #presentation_warren #debra_pere:hover #presentation_warren,
#debra_pere #presentation_warren #amy_mere:hover #presentation_pat,
#debra_pere #presentation_warren #amy_pere:hover #presentation_hank,
#debra_pere #presentation_warren #amy_frere:hover #presentation_peter,
#debra_pere #presentation_pat #debra_mere:hover #presentation_lois,
#debra_pere #presentation_pat #debra_pere:hover #presentation_warren,
#debra_pere #presentation_pat #amy_mere:hover #presentation_pat,
#debra_pere #presentation_pat #amy_pere:hover #presentation_hank,
#debra_pere #presentation_pat #amy_frere:hover #presentation_peter,
#debra_pere #presentation_hank #debra_mere:hover #presentation_lois,
#debra_pere #presentation_hank #debra_pere:hover #presentation_warren,
#debra_pere #presentation_hank #amy_mere:hover #presentation_pat,
#debra_pere #presentation_hank #amy_pere:hover #presentation_hank,
#debra_pere #presentation_hank #amy_frere:hover #presentation_peter,
#debra_pere #presentation_peter #debra_mere:hover #presentation_lois,
#debra_pere #presentation_peter #debra_pere:hover #presentation_warren,
#debra_pere #presentation_peter #amy_mere:hover #presentation_pat,
#debra_pere #presentation_peter #amy_pere:hover #presentation_hank,
#debra_pere #presentation_peter #amy_frere:hover #presentation_peter,
#amy_mere #presentation_lois #debra_mere:hover #presentation_lois,
#amy_mere #presentation_lois #debra_pere:hover #presentation_warren,
#amy_mere #presentation_lois #amy_mere:hover #presentation_pat,
#amy_mere #presentation_lois #amy_pere:hover #presentation_hank,
#amy_mere #presentation_lois #amy_frere:hover #presentation_peter,
#amy_mere #presentation_warren #debra_mere:hover #presentation_lois,
#amy_mere #presentation_warren #debra_pere:hover #presentation_warren,
#amy_mere #presentation_warren #amy_mere:hover #presentation_pat,
#amy_mere #presentation_warren #amy_pere:hover #presentation_hank,
#amy_mere #presentation_warren #amy_frere:hover #presentation_peter,
#amy_mere #presentation_pat #debra_mere:hover #presentation_lois,
#amy_mere #presentation_pat #debra_pere:hover #presentation_warren,
#amy_mere #presentation_pat #amy_mere:hover #presentation_pat,
#amy_mere #presentation_pat #amy_pere:hover #presentation_hank,
#amy_mere #presentation_pat #amy_frere:hover #presentation_peter,
#amy_mere #presentation_hank #debra_mere:hover #presentation_lois,
#amy_mere #presentation_hank #debra_pere:hover #presentation_warren,
#amy_mere #presentation_hank #amy_mere:hover #presentation_pat,
#amy_mere #presentation_hank #amy_pere:hover #presentation_hank,
#amy_mere #presentation_hank #amy_frere:hover #presentation_peter,
#amy_mere #presentation_peter #debra_mere:hover #presentation_lois,
#amy_mere #presentation_peter #debra_pere:hover #presentation_warren,
#amy_mere #presentation_peter #amy_mere:hover #presentation_pat,
#amy_mere #presentation_peter #amy_pere:hover #presentation_hank,
#amy_mere #presentation_peter #amy_frere:hover #presentation_peter,
#amy_pere #presentation_lois #debra_mere:hover #presentation_lois,
#amy_pere #presentation_lois #debra_pere:hover #presentation_warren,
#amy_pere #presentation_lois #amy_mere:hover #presentation_pat,
#amy_pere #presentation_lois #amy_pere:hover #presentation_hank,
#amy_pere #presentation_lois #amy_frere:hover #presentation_peter,
#amy_pere #presentation_warren #debra_mere:hover #presentation_lois,
#amy_pere #presentation_warren #debra_pere:hover #presentation_warren,
#amy_pere #presentation_warren #amy_mere:hover #presentation_pat,
#amy_pere #presentation_warren #amy_pere:hover #presentation_hank,
#amy_pere #presentation_warren #amy_frere:hover #presentation_peter,
#amy_pere #presentation_pat #debra_mere:hover #presentation_lois,
#amy_pere #presentation_pat #debra_pere:hover #presentation_warren,
#amy_pere #presentation_pat #amy_mere:hover #presentation_pat,
#amy_pere #presentation_pat #amy_pere:hover #presentation_hank,
#amy_pere #presentation_pat #amy_frere:hover #presentation_peter,
#amy_pere #presentation_hank #debra_mere:hover #presentation_lois,
#amy_pere #presentation_hank #debra_pere:hover #presentation_warren,
#amy_pere #presentation_hank #amy_mere:hover #presentation_pat,
#amy_pere #presentation_hank #amy_pere:hover #presentation_hank,
#amy_pere #presentation_hank #amy_frere:hover #presentation_peter,
#amy_pere #presentation_peter #debra_mere:hover #presentation_lois,
#amy_pere #presentation_peter #debra_pere:hover #presentation_warren,
#amy_pere #presentation_peter #amy_mere:hover #presentation_pat,
#amy_pere #presentation_peter #amy_pere:hover #presentation_hank,
#amy_pere #presentation_peter #amy_frere:hover #presentation_peter,
#amy_frere #presentation_lois #debra_mere:hover #presentation_lois,
#amy_frere #presentation_lois #debra_pere:hover #presentation_warren,
#amy_frere #presentation_lois #amy_mere:hover #presentation_pat,
#amy_frere #presentation_lois #amy_pere:hover #presentation_hank,
#amy_frere #presentation_lois #amy_frere:hover #presentation_peter,
#amy_frere #presentation_warren #debra_mere:hover #presentation_lois,
#amy_frere #presentation_warren #debra_pere:hover #presentation_warren,
#amy_frere #presentation_warren #amy_mere:hover #presentation_pat,
#amy_frere #presentation_warren #amy_pere:hover #presentation_hank,
#amy_frere #presentation_warren #amy_frere:hover #presentation_peter,
#amy_frere #presentation_pat #debra_mere:hover #presentation_lois,
#amy_frere #presentation_pat #debra_pere:hover #presentation_warren,
#amy_frere #presentation_pat #amy_mere:hover #presentation_pat,
#amy_frere #presentation_pat #amy_pere:hover #presentation_hank,
#amy_frere #presentation_pat #amy_frere:hover #presentation_peter,
#amy_frere #presentation_hank #debra_mere:hover #presentation_lois,
#amy_frere #presentation_hank #debra_pere:hover #presentation_warren,
#amy_frere #presentation_hank #amy_mere:hover #presentation_pat,
#amy_frere #presentation_hank #amy_pere:hover #presentation_hank,
#amy_frere #presentation_hank #amy_frere:hover #presentation_peter,
#amy_frere #presentation_peter #debra_mere:hover #presentation_lois,
#amy_frere #presentation_peter #debra_pere:hover #presentation_warren,
#amy_frere #presentation_peter #amy_mere:hover #presentation_pat,
#amy_frere #presentation_peter #amy_pere:hover #presentation_hank,
#amy_frere #presentation_peter #amy_frere:hover #presentation_peter {
  transform: rotateY(180deg);
}
#debra_mere #presentation_lois .carte_recto,
#debra_mere #presentation_lois .carte_verso,
#debra_mere #presentation_warren .carte_recto,
#debra_mere #presentation_warren .carte_verso,
#debra_mere #presentation_pat .carte_recto,
#debra_mere #presentation_pat .carte_verso,
#debra_mere #presentation_hank .carte_recto,
#debra_mere #presentation_hank .carte_verso,
#debra_mere #presentation_peter .carte_recto,
#debra_mere #presentation_peter .carte_verso,
#debra_pere #presentation_lois .carte_recto,
#debra_pere #presentation_lois .carte_verso,
#debra_pere #presentation_warren .carte_recto,
#debra_pere #presentation_warren .carte_verso,
#debra_pere #presentation_pat .carte_recto,
#debra_pere #presentation_pat .carte_verso,
#debra_pere #presentation_hank .carte_recto,
#debra_pere #presentation_hank .carte_verso,
#debra_pere #presentation_peter .carte_recto,
#debra_pere #presentation_peter .carte_verso,
#amy_mere #presentation_lois .carte_recto,
#amy_mere #presentation_lois .carte_verso,
#amy_mere #presentation_warren .carte_recto,
#amy_mere #presentation_warren .carte_verso,
#amy_mere #presentation_pat .carte_recto,
#amy_mere #presentation_pat .carte_verso,
#amy_mere #presentation_hank .carte_recto,
#amy_mere #presentation_hank .carte_verso,
#amy_mere #presentation_peter .carte_recto,
#amy_mere #presentation_peter .carte_verso,
#amy_pere #presentation_lois .carte_recto,
#amy_pere #presentation_lois .carte_verso,
#amy_pere #presentation_warren .carte_recto,
#amy_pere #presentation_warren .carte_verso,
#amy_pere #presentation_pat .carte_recto,
#amy_pere #presentation_pat .carte_verso,
#amy_pere #presentation_hank .carte_recto,
#amy_pere #presentation_hank .carte_verso,
#amy_pere #presentation_peter .carte_recto,
#amy_pere #presentation_peter .carte_verso,
#amy_frere #presentation_lois .carte_recto,
#amy_frere #presentation_lois .carte_verso,
#amy_frere #presentation_warren .carte_recto,
#amy_frere #presentation_warren .carte_verso,
#amy_frere #presentation_pat .carte_recto,
#amy_frere #presentation_pat .carte_verso,
#amy_frere #presentation_hank .carte_recto,
#amy_frere #presentation_hank .carte_verso,
#amy_frere #presentation_peter .carte_recto,
#amy_frere #presentation_peter .carte_verso {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}
#debra_mere #presentation_lois .carte_recto h5,
#debra_mere #presentation_lois .carte_verso h5,
#debra_mere #presentation_warren .carte_recto h5,
#debra_mere #presentation_warren .carte_verso h5,
#debra_mere #presentation_pat .carte_recto h5,
#debra_mere #presentation_pat .carte_verso h5,
#debra_mere #presentation_hank .carte_recto h5,
#debra_mere #presentation_hank .carte_verso h5,
#debra_mere #presentation_peter .carte_recto h5,
#debra_mere #presentation_peter .carte_verso h5,
#debra_pere #presentation_lois .carte_recto h5,
#debra_pere #presentation_lois .carte_verso h5,
#debra_pere #presentation_warren .carte_recto h5,
#debra_pere #presentation_warren .carte_verso h5,
#debra_pere #presentation_pat .carte_recto h5,
#debra_pere #presentation_pat .carte_verso h5,
#debra_pere #presentation_hank .carte_recto h5,
#debra_pere #presentation_hank .carte_verso h5,
#debra_pere #presentation_peter .carte_recto h5,
#debra_pere #presentation_peter .carte_verso h5,
#amy_mere #presentation_lois .carte_recto h5,
#amy_mere #presentation_lois .carte_verso h5,
#amy_mere #presentation_warren .carte_recto h5,
#amy_mere #presentation_warren .carte_verso h5,
#amy_mere #presentation_pat .carte_recto h5,
#amy_mere #presentation_pat .carte_verso h5,
#amy_mere #presentation_hank .carte_recto h5,
#amy_mere #presentation_hank .carte_verso h5,
#amy_mere #presentation_peter .carte_recto h5,
#amy_mere #presentation_peter .carte_verso h5,
#amy_pere #presentation_lois .carte_recto h5,
#amy_pere #presentation_lois .carte_verso h5,
#amy_pere #presentation_warren .carte_recto h5,
#amy_pere #presentation_warren .carte_verso h5,
#amy_pere #presentation_pat .carte_recto h5,
#amy_pere #presentation_pat .carte_verso h5,
#amy_pere #presentation_hank .carte_recto h5,
#amy_pere #presentation_hank .carte_verso h5,
#amy_pere #presentation_peter .carte_recto h5,
#amy_pere #presentation_peter .carte_verso h5,
#amy_frere #presentation_lois .carte_recto h5,
#amy_frere #presentation_lois .carte_verso h5,
#amy_frere #presentation_warren .carte_recto h5,
#amy_frere #presentation_warren .carte_verso h5,
#amy_frere #presentation_pat .carte_recto h5,
#amy_frere #presentation_pat .carte_verso h5,
#amy_frere #presentation_hank .carte_recto h5,
#amy_frere #presentation_hank .carte_verso h5,
#amy_frere #presentation_peter .carte_recto h5,
#amy_frere #presentation_peter .carte_verso h5 {
  text-align: center;
  color: black;
}
#debra_mere #presentation_lois .carte_recto,
#debra_mere #presentation_warren .carte_recto,
#debra_mere #presentation_pat .carte_recto,
#debra_mere #presentation_hank .carte_recto,
#debra_mere #presentation_peter .carte_recto,
#debra_pere #presentation_lois .carte_recto,
#debra_pere #presentation_warren .carte_recto,
#debra_pere #presentation_pat .carte_recto,
#debra_pere #presentation_hank .carte_recto,
#debra_pere #presentation_peter .carte_recto,
#amy_mere #presentation_lois .carte_recto,
#amy_mere #presentation_warren .carte_recto,
#amy_mere #presentation_pat .carte_recto,
#amy_mere #presentation_hank .carte_recto,
#amy_mere #presentation_peter .carte_recto,
#amy_pere #presentation_lois .carte_recto,
#amy_pere #presentation_warren .carte_recto,
#amy_pere #presentation_pat .carte_recto,
#amy_pere #presentation_hank .carte_recto,
#amy_pere #presentation_peter .carte_recto,
#amy_frere #presentation_lois .carte_recto,
#amy_frere #presentation_warren .carte_recto,
#amy_frere #presentation_pat .carte_recto,
#amy_frere #presentation_hank .carte_recto,
#amy_frere #presentation_peter .carte_recto {
  background-color: #000000;
  color: blue;
}
#debra_mere #presentation_lois .carte_verso,
#debra_mere #presentation_warren .carte_verso,
#debra_mere #presentation_pat .carte_verso,
#debra_mere #presentation_hank .carte_verso,
#debra_mere #presentation_peter .carte_verso,
#debra_pere #presentation_lois .carte_verso,
#debra_pere #presentation_warren .carte_verso,
#debra_pere #presentation_pat .carte_verso,
#debra_pere #presentation_hank .carte_verso,
#debra_pere #presentation_peter .carte_verso,
#amy_mere #presentation_lois .carte_verso,
#amy_mere #presentation_warren .carte_verso,
#amy_mere #presentation_pat .carte_verso,
#amy_mere #presentation_hank .carte_verso,
#amy_mere #presentation_peter .carte_verso,
#amy_pere #presentation_lois .carte_verso,
#amy_pere #presentation_warren .carte_verso,
#amy_pere #presentation_pat .carte_verso,
#amy_pere #presentation_hank .carte_verso,
#amy_pere #presentation_peter .carte_verso,
#amy_frere #presentation_lois .carte_verso,
#amy_frere #presentation_warren .carte_verso,
#amy_frere #presentation_pat .carte_verso,
#amy_frere #presentation_hank .carte_verso,
#amy_frere #presentation_peter .carte_verso {
  background-color: transparent;
  color: #000000;
  transform: rotateY(180deg);
}

/*# sourceMappingURL=style.css.map */
