#myBtn {
    width: 4%;
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: rgb(0, 0, 0);
    color: rgb(246, 34, 6);
    cursor: pointer;
    padding: 15px;
    border-radius: 50%;
    font-size: 15px;
  }