* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: $font-size4;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 20px;
    color: #000000;
    background: linear-gradient($color3, $color2, $color1);
    background-attachment: fixed;
}

.container {
    width: 100%;
    margin: auto;
    @media screen and (min-width: map-get($breakpoints, desktop)) {
        width: 1394px;
    }
}
