* {
    margin : 0;
    padding : 0 ;
    box-sizing : border-box ; 
}
      
body {
    font-size : $font-size4 ;
    font-family: 'Roboto', sans-serif ;
    line-height : 12px ; 
    color : #000000 ;
}
      
.container {
    width : 100% ;
    margin : auto ; 
    background-color : $secondary_background ;
    @media screen and (min-width: map-get($breakpoints, desktop)) {
        width : 1394px ;
        background-color : $primary_background ;
    }
}
