* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: $font-size4;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 20px;
    color: #000000;
    background: linear-gradient(217deg, rgba(240, 11, 11, 0.8), rgba(255,0,0,0) 70.71%),            linear-gradient(127deg, rgb(255, 234, 2), rgba(0,255,0,0) 70.71%),            linear-gradient(336deg, rgb(177, 105, 33), rgba(0,0,255,0) 70.71%);
    background-size: 400% 400%;
    animation: changeColor 2s ease-in-out infinite;
}

@keyframes changeColor {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

.container {
    width: 1390px;
    @media (max-width: map-get($breakpoints, mobile)) {
        width: 100%;
        margin: auto;
    }
}
