#acteurs {
    h3 {
        color: orangered;
        font-size: 25px;
        margin-top: 30px;
        text-align: center;
    }

    .acteurs {
        display: flex;
        flex-direction: column;
        margin: 15px;

        .acteur_ray, 
        .acteur_marie, 
        .acteur_robert {
            display: flex;
            flex-direction: row;

           
            .acteur_photo {
                height: 300px;
                object-fit: cover;
            }
        }

        .acteur_debra,
        .acteur_frank,
        .acteur_amy {
            display: flex;
            flex-direction: row-reverse;
            
            .acteur_photo {
                height: 300px;
                object-fit: cover;
            }
        }
    }
}
