#episodes {
    @include flex-center-column;

    .dvd {
        @include flex-center-row;

        .season {
            box-shadow: 0 4px 8px #c6c6c6;
            width: 10%;
            margin-bottom: 15px;

            a {
                text-decoration: none;
            }

            h4,
            p {
                display: none;
            }

            .dvd_photo {
                width: 100%;
                height: 80%;
                object-fit: cover;

                &hover {
                    h4,
                    p {
                        display: content;
                    }
                }
            }
        }
    }
}
