#histoire {
    margin:auto;
    h3 {
        color: #000000;
        font-size: 25px;
        font-weight: 700;
        text-align: center
    }

    #resume {
        margin: 10px;
        text-align: justify;
    }
}