#personnages {
    @include flex-center-column ;

    h3 {
        font-size : $font-size1 ; 
        color : $color1 ; 
    }

    #personnage_ray, #personnage_debra, #personnage_marie, #personnage_frank, #personnage_robert, #personnage_amy {
        @include flex-center-column ; 
        box-shadow: 0 4px 8px #E6E6E6 ;
        width : 300px ; 
        margin : auto ; 
        text-align : center ; 

        h4 {
            color : turquoise ; 
            font-size : $font-size2
        }
    }
}