#personnages_secondaires {
    @include flex-center-column;

    h3 {
        font-size: $font-size1;
        color: #000000;
        font-weight: bold;
        padding: 20px 0px;
        text-align: center;
    }

    #famille_debra,
    #famille_amy {
        @include flex-center-column;
        
        h5 {
            font-family: lobster; 
            font-size: 25px;
            text-align: center;
            padding: 20px;
        }

        .famille {
            @include flex-center-row;
            margin: 10px;
            
            #debra_mere,
            #debra_pere,
            #amy_mere,
            #amy_pere,
            #amy_frere {
                margin: 5px;
            }
        }
    }
}
