#photos {
    display : flex ;
    flex-direction : row ; 
    flex-wrap : wrap ;
    justify-content : center ;
    width : 100% ;

    .photo_ray, .photo_debra, .photo_marie, .photo_frank, .photo_robert, .photo_amy {
        object-fit : cover ; 
        width : 8% ;
        height : 200px ;
        display : flex ; 
        flex-direction : column ; 
        justify-content : space-around ; 
        align-items : center ; 
        align-content : center ;   
        border : groove 13px gold ;

        .ray, .debra, .marie, .frank, .robert, .amy {
            width : 97% ;
            height : 150px ; 
            position : center ; 
        }
    }
}
  
  