#photos {
    @include flex-center-row;
    margin-top: 40px;

    #photo_ray,
    #photo_debra,
    #photo_marie,
    #photo_frank,
    #photo_robert,
    #photo_amy {
        display: flex;
        flex-direction: column;
        width: 15%;
        height: 350px;        
        border: solid 3px $color2;
        .ray,
        .debra,
        .marie,
        .frank,
        .robert,
        .amy {
            width: 100%;
            height: 300px;
        }
    }
}
