#photos {
    @include flex-center-row;
    margin-top: 40px;
    margin-bottom: 40px;

    #photo_ray,
    #photo_debra,
    #photo_marie,
    #photo_frank,
    #photo_robert,
    #photo_amy {
        display: flex;
        flex-direction: column;
        width: 10%;
        margin-right: 5px;
        height: 200px;        
        border: solid 3px $color2;
        align-items: center;
        .ray,
        .debra,
        .marie,
        .frank,
        .robert,
        .amy {
            width: 100%;
            height: 150px;
            object-fit: cover;
        }

        .nom {
            margin-top: 10px;
            font-family: Redressed;
            font-size: 25px;
        }
    }
}
