#photos {
    @include flex-space-around-row;
    margin: 10px 20px 40px 20px;
    @media (max-width: map-get($breakpoints, mobile)) {
        @include flex-center-column;
    }

    #photo_ray,
    #photo_debra,
    #photo_marie,
    #photo_frank,
    #photo_robert,
    #photo_amy {
        display: flex;
        flex-direction: column;
        width: 20%;
        height: 260px;  
        align-items: center;

        @media (max-width: map-get($breakpoints, mobile)) {
            width: 100%;
        }
        .ray,
        .debra,
        .marie,
        .frank,
        .robert,
        .amy {
            width: 100%;
            height: 240px;
            object-fit: cover;
        }

        .ray,
        .marie,
        .robert {
            transform: rotate(20deg);      
            border: groove 13px $color3;
        }
        .debra,
        .frank,
        .amy {
            transform: rotate(-20deg);      
            border: groove 13px $color3;
        }

        .nom {
            margin-top: 20px;
            margin-right: 20px;
            font-family: Redressed;
            font-size: 25px;

            @media (max-width: map-get($breakpoints, mobile)) {
                display: none;
            }
        }
    }
}
