@mixin flex-center-column {
    display : flex ;
    flex-direction : column ; 
    justify-content : center ; 
}
  
@mixin flex-center-row {
    display : flex ; 
    flex-direction : row ; 
    justify-content : center ; 
}

