$font-size1 : 25px ; 
$font-size2 : 20px ; 
$font-size3 : 18px ; 
$font-size4 : 15px ; 

$color1 : #ec0f0f ;
$color2 : #ec8c0f ; 
$color3 : #e8ec0f ;

$grey : #4e4e4e ; 
$light_grey : #7c7c7c ; 
$very_light_grey : #cecece ; 
$dark_grey : #383838 ; 